<div class="flex flex-col gap-8">
  <div class="flex justify-between items-center">
    <div class="text-2xl font-semibold">Interactions</div>
    <p-button [label]="'title.newInteraction' | translate" icon="pi pi-plus" (click)="openNewInteractionModal()"></p-button>
  </div>

  <app-listview
    #listviewComponent
    [dataUrl]="'/api/interactions'"
    [columns]="columns"
    (rowDblClick)="openEditInteractionModal($event)"
  >
    <ng-template #actionsTemplate let-interaction>
      <div class="flex gap-2 justify-end">
        <p-button icon="pi pi-pencil"
                  rounded
                  outlined
                  (click)="openEditInteractionModal(interaction)"></p-button>
      </div>
    </ng-template>
  </app-listview>
</div>

<app-interaction-modal
  *ngIf="displayModal()"
  [record]="selectedInteraction()"
  (closeModal)="onModalClose()"
  (deleted)="onInteractionDeleted()"
></app-interaction-modal>
