@use './tailwind.css';
@use '../public/layout/layout.scss';
@use 'primeicons/primeicons.css';
@use './app/common/themes/styles/recordPage.scss';

:root {
    --p-mask-background: rgba(255, 255, 255, 0.5) !important; /* You can adjust the opacity and color as needed */
}

html, body {
  scrollbar-width: thin;                 /* Firefox */
  scrollbar-color: #ccc transparent;     /* Firefox */
  @apply bg-surface-50;
}

*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-style: none;
}


.center-align {
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand-logo {
    width: 2rem;
    height: 2rem;
    margin: auto;
}


@keyframes AnimateBackgroud {
  0% {
    background-position: 10%;
  }

  50% {
    background-position: 100%;
  }

  100% {
    background-position: 0;
  }
}
.background-animate {
  background-size: 800%;
  -webkit-animation: AnimateBackgroud 1.5s ease;
  -moz-animation: AnimateBackgroud 1.5s ease;
  animation: AnimateBackgroud 1.5s ease;
}


