@use './tailwind.css';
@use '../public/layout/layout.scss';
@use 'primeicons/primeicons.css';

:root {
    --p-mask-background: rgba(255, 255, 255, 0.5) !important; /* You can adjust the opacity and color as needed */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-style: none;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

.center-align {
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand-logo {
    width: 2rem;
    height: 2rem;
    margin: auto;
}
