<p-confirmDialog></p-confirmDialog>

<div class="flex flex-col gap-8">
  <div class="flex flex-wrap items-center gap-4">
    <div class="flex items-center gap-3 contact-section-header">
      <span class="material-symbols-outlined text-unops-headline-large">contacts</span>
      <p class="text-unops-headline-large font-bold">{{ 'title.contacts' | translate }}</p>
    </div>
    <div class="ml-auto flex gap-2 flex-wrap">
      <p-button
        *ngIf="entityPermissions().permissions.canExport"
        icon="pi pi-file-export"
        [label]="'button.export' | translate"
        (click)="exportData()"
        text rounded
        class="contact-export-button"
      />
      <div *ngIf="entityPermissions().permissions.canImport" class="relative">
        <p-button
          #importBtn
          icon="pi pi-file-import"
          [label]="'button.import' | translate"
          (click)="importMenu.toggle($event)"
          text rounded
          class="contact-import-button"
        />
        <p-menu 
          #importMenu 
          [model]="importMenuItems()" 
          [popup]="true"
          appendTo="body">
        </p-menu>
      </div>
      <p-button
        *ngIf="entityPermissions().permissions.canCreate"
        icon="pi pi-camera"
        [label]="'title.scanBusinessCard' | translate"
        (onClick)="openBusinessCardScanner()"
        rounded
        class="contact-scanner-button"
      />
      <p-button
        *ngIf="entityPermissions().permissions.canCreate"
        icon="pi pi-plus"
        [label]="'button.new' | translate"
        (onClick)="openContactEditDialog()"
        rounded
        class="contact-new-button"
      />
    </div>
  </div>

  <app-listview
    #listviewComponent
    [dataUrl]="contactService.getUrl()"
    [columns]="contactColumns()"
    [entityType]="'Contact'"
    [config]="listviewConfig()"
    (rowClick)="onRowClick($event)"
    (searchChange)="onSearchChange($event)"
    class="contact-listview"
  >
  </app-listview>
</div>

<!-- Business Card Scanner Dialog -->
<app-business-card-scanner 
  *ngIf="showBusinessCardScanner()"
  (onClose)="closeBusinessCardScanner()"
  (onScannedContact)="handleScannedContact($event)">
</app-business-card-scanner>