<p-dialog
  [(visible)]="display"
  [modal]="true"
  [styleClass]="'new-partner-dialog'"
  [header]="'title.newPartner' | translate"
  (onHide)="hide()">

<p-blockui [blocked]="partnerService.isLoading()" />

  @if( showValidationFailedError() === true ){
    <p-message severity="error" icon="pi pi-info-circle" class="block gap-2">Please fill all the required details.</p-message>
  }

  <form class="w-full flex flex-col gap-8" [formGroup]="formGroup">

    <div class="flex flex-col gap-8">
      <div class="text-xl">{{ 'title.partnerTitles.partnerInformation' | translate }}</div>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">

        <div class="flex flex-col gap-2">
          <label>{{ "label.partner.name" | translate }}&nbsp;*</label>
          <input pInputText fluid="true" formControlName="name" />
          @if( formGroup.get("name")?.invalid && showValidationFailedError() )
          {
            <p-message severity="error" variant="simple">Name must be entered.</p-message>
          }
        </div>

        <div class="flex flex-col gap-2">
          <label>{{ "label.partner.shortName" | translate }}&nbsp;*</label>
          <input pInputText fluid="true" formControlName="shortName" />
          @if( formGroup.get("shortName")?.invalid && showValidationFailedError() )
          {
            <p-message severity="error" variant="simple">Short Name must be entered.</p-message>
          }
        </div>

        <div class="flex flex-col gap-2">
          <label>{{ "label.partner.status" | translate }}&nbsp;*</label>
          <p-select
            formControlName="status"
            [options]="allPartnerStatusData()"
            optionLabel="name"
            optionValue="id"
            fluid="true"
            [showClear]="true"
            [appendTo]="'body'"
            placeholder="Select a Status"
          />
          @if( formGroup.get("status")?.invalid && showValidationFailedError() )
          {
            <p-message severity="error" variant="simple">Status must be entered.</p-message>
          }
        </div>

        <div class="flex flex-col gap-2">
          <label>{{ "label.partner.newEngagement" | translate }}&nbsp;*</label>
          <p-select formControlName="newEngagement"
                    [options]="allPartnerNewEngagementData()"
                    optionLabel="name"
                    optionValue="id"
                    fluid="true"
                    [showClear]="true"
                    [appendTo]="'body'"
                    placeholder="Select New Engagement" />
          @if( formGroup.get("newEngagement")?.invalid && showValidationFailedError() )
          {
            <p-message severity="error" variant="simple">New Engagement must be entered.</p-message>
          }
        </div>

        <div class="flex flex-col gap-2">
          <label>{{ "label.partner.phone" | translate }}</label>
          <input pInputText fluid="true" formControlName="phone" />
        </div>

        <div class="flex flex-col gap-2">
          <label>{{ "label.partner.website" | translate }}</label>
          <input pInputText fluid="true" formControlName="website" />
        </div>

        <p-divider class="col-span-full" />

        <div class="flex flex-col gap-2">
          <label>{{ "label.partner.pooledFund" | translate }}&nbsp;*</label>
          <p-select formControlName="pooledFund"
                    [options]="allYesNoData()"
                    optionLabel="name"
                    optionValue="id"
                    fluid="true"
                    [showClear]="true"
                    [appendTo]="'body'"
                    placeholder="Select Pooled Fund" />
          @if( formGroup.get("pooledFund")?.invalid && showValidationFailedError() )
          {
            <p-message severity="error" variant="simple">Pooled Fund must be entered.</p-message>
          }
        </div>

        <div class="flex flex-col gap-2">
          <label>{{ "label.partner.ddRequired" | translate }}&nbsp;*</label>
          <p-select formControlName="ddRequired"
                    [options]="allYesNoData()"
                    optionLabel="name"
                    optionValue="id"
                    fluid="true"
                    [showClear]="true"
                    [appendTo]="'body'"
                    placeholder="Select DD Required" />
          @if( formGroup.get("ddRequired")?.invalid && showValidationFailedError() )
          {
            <p-message severity="error" variant="simple">DD Required must be entered.</p-message>
          }
        </div>

        <div class="flex flex-col gap-2">
          <label>{{ "label.partner.ddeacDone" | translate }}&nbsp;*</label>
          <p-select formControlName="ddeacDone"
                    [options]="allYesNoData()"
                    optionLabel="name"
                    optionValue="id"
                    fluid="true"
                    [showClear]="true"
                    [appendTo]="'body'"
                    placeholder="Select DD/EAC Done" />
          @if( formGroup.get("ddeacDone")?.invalid && showValidationFailedError() )
          {
            <p-message severity="error" variant="simple">DD/EAC Done must be entered.</p-message>
          }
        </div>

        <div class="flex flex-col gap-2">
          <label>{{ "label.partner.eacReference" | translate }}</label>
          <input pInputText fluid="true" formControlName="eacReference" />
        </div>

        <p-divider class="col-span-full" />

        <div class="flex flex-col gap-2">
          <label>{{ "label.partner.levyPotentiallyApplies" | translate }}&nbsp;*</label>
          <p-select formControlName="levyPotentiallyApplies"
                    [options]="allPartnerLevyAppliesData()"
                    optionLabel="name"
                    optionValue="id"
                    fluid="true"
                    [showClear]="true"
                    [appendTo]="'body'"
                    placeholder="Select Levy Potentially Applies" />
          @if( formGroup.get("levyPotentiallyApplies")?.invalid && showValidationFailedError() )
          {
            <p-message severity="error" variant="simple">Levy Potentially Applies must be entered.</p-message>
          }
        </div>

        <div class="flex flex-col gap-2">
          <label>{{ "label.partner.reasonForLevyNotApplying" | translate }}</label>
          <p-select formControlName="reasonForLevyNotApplying"
                    [options]="allPartnerReasonForLevyNotData()"
                    optionLabel="name"
                    optionValue="id"
                    fluid="true"
                    [showClear]="true"
                    [appendTo]="'body'"
                    placeholder="Select Reason For Levy Not Applying" />
        </div>

        <div class="flex flex-col gap-2">
          <label>{{ "label.partner.levyTreatment" | translate }}</label>
          <p-select formControlName="levyTreatment"
                    [options]="allPartnerLevyTreatmentData()"
                    optionLabel="name"
                    optionValue="id"
                    [showClear]="true"
                    [appendTo]="'body'"
                    fluid="true"
                    placeholder="Select Levy Treatment" />
        </div>

        <div class="flex gap-2 items-center">
          <p-checkbox [binary]="true"
                      formControlName="globalKeyAccount"
                      inputId="gka" />
          <label for="gka" class="ml-2">{{ "label.partner.globalKeyAccount" | translate }}</label>
        </div>

        <div class="flex gap-2 items-center">
          <p-checkbox [binary]="true"
                      formControlName="unSecretariatEntity"
                      inputId="unse" />
          <label for="unse" class="ml-2">{{ "label.partner.unSecretariatEntity" | translate }}</label>
        </div>
      </div>
    </div>

    <div class="flex flex-col gap-8">
      <div class="text-xl">{{ 'title.partnerTitles.addressInformation' | translate }}</div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-8 ">
        <div class="flex-col flex  gap-4">
          <div class="font-semibold">{{ 'title.partnerTitles.address1' | translate }}</div>

          <div>
            <label>{{ "label.partner.address1Street" | translate }}</label>
            <input pInputText fluid="true" formControlName="address1Street" />
          </div>
          <div>
            <label>{{ "label.partner.address1Street2" | translate }}</label>
            <input pInputText fluid="true" formControlName="address1Street2" />
          </div>
          <div>
            <label>{{ "label.partner.address1City" | translate }}</label>
            <input pInputText fluid="true" formControlName="address1City" />
          </div>
          <div>
            <label>{{ "label.partner.address1StateProvince" | translate }}</label>
            <input pInputText fluid="true" formControlName="address1StateProvince" />
          </div>
          <div>
            <label>{{ "label.partner.address1PostalCode" | translate }}</label>
            <input pInputText fluid="true" formControlName="address1PostalCode" />
          </div>
          <div>
            <label>{{ "label.partner.address1Country" | translate }}</label>
            <input pInputText fluid="true" formControlName="address1Country" />
          </div>
        </div>
      </div>
    </div>
  </form>

<ng-template pTemplate="footer">
  <div class="flex justify-end gap-2 mt-4">
    <p-button icon="pi pi-times" label="{{'button.cancel' | translate}}" (click)="hide()" severity="secondary"/>
    <p-button icon="pi pi-check" label="{{'button.save' | translate}}" [loading]="isSaving()" (click)="_handleOnSaveClick()"/>
  </div>
</ng-template>
</p-dialog>
