<div class="container-fluid main-container">
  <div class="login-container">
    <div class="card flex flex-col gap-4">
      <div class="flex flex-col items-center justify-center">
        <div class="col-span-12 mt-8 text-center">
          <img src="images/Circle.png" class="gap-4 flex flex-col items-center brand-logo" alt="Brand Logo" />
          <span class="gap-4 flex flex-col items-center font-semibold text-xl">Grant+</span>
        </div>
      </div>

      @if (canShowPrimitiveLoginOption) {
      <div class="row username-password-container">
        <form (ngSubmit)="handleOnLogin(loginForm)" #loginForm="ngForm">
          <div class="flex flex-col gap-3 w-full">
            <div class="p-float-label w-full">
              <input pInputText id="userEmail" type="text" name="userEmail" ngModel #userEmail="ngModel"
                class="w-full" />
              <label for="userEmail">Email</label>
            </div>

            <div class="p-float-label w-full">
              <p-password [toggleMask]="true" [feedback]="false" name="password" ngModel #password="ngModel"
                [style]="{ width: '100%' }" [inputStyle]="{ width: '100%' }"></p-password>
              <label for="password">Password</label>
            </div>

            <div class="text-center">
              <p-button type="submit" label="Sign In" [raised]="true"></p-button>
            </div>
          </div>
        </form>
      </div>
      }

      @if (canShowOAuthLoginComponent) {
      <div class="mt-4 mb-2">
        <app-social-auth></app-social-auth>
      </div>
      }

      @if (canDoSignUp) {
      <div class="mt-5 mb-2 text-center">
        Not a member?
        <p-button label="Sign Up" [style]="{ width: 'auto' }" (click)="onOpenSignUpDialog()" />
        <app-sign-up *ngIf="displaySignUpDialog" (closeSignUp)="onCloseSignUp()"></app-sign-up>
      </div>
      }
    </div>
  </div>
</div>