<div class="layout-sidebar bg-white flex flex-col h-full">
    <!-- Wrapper scrollable contenant tout -->
    <div class="flex-1 overflow-y-auto flex flex-col">
        <!-- Section Menu -->
        <div class="">
            <img src="images/PNG/Opportunity Horizontal1000px.png"
            class="p-4 flex-1 lg:hidden w-48"
            alt="UNOPS Opportunity+ Logo">

            <!-- Display all menu items -->
            <app-menu [model]="menuItems"></app-menu>
            <!-- Display admin menu items -->
            <app-menu [model]="adminMenuItems"></app-menu>
        </div>


    </div>
</div>
