<div class="flex flex-col gap-8">
  <div class="flex flex-col xl:flex-row gap-8">
    <div class="flex flex-col gap-8" [ngClass]="showAiPanel ? 'xl:w-1/2' : 'w-full'">
      <p-panel class="{{infoLoading() ? 'opacity-50' : ''}} shadow-sm border border-solid border-gray-50 rounded-xl">
        <ng-template pTemplate="header">
          <div class="flex justify-between items-center w-full">
            <span class="text-xl">Contact Information</span>
            @if (recordPermissions().permissions.canUpdate) {
              <p-button icon="pi pi-pencil"
                        [rounded]="true"
                        [text]="true"
                        [size]="'small'"
                        class="edit-button contact-edit-button"
                        (onClick)="handleEditClick()"></p-button>
            }
          </div>
        </ng-template>

        <div class="flex flex-col gap-4 pb-2 contact-info-content">

          <div class="flex flex-col gap-2">
            <div class="text-sm">{{ 'fieldLabels.partner' | translate }}</div>
            <a [routerLink]="['/partnerships/partners', recordData().partner?.id]"
               class="text-primary hover:underline font-semibold contact-partner-link">
              {{recordData().partner?.name}}
            </a>
          </div>

          <!-- Contact Info -->
          @if(recordData().email || recordData().phone || recordData().mobile){
            <div class="flex flex-col gap-2 contact-info-details">
              @if(recordData().email){
                <div>{{recordData().email}}</div>
              }
              @if(recordData().phone){
                <div>{{recordData().phone}} ({{ 'office' | translate }})</div>
              }
              @if(recordData().mobile){
                <div>{{recordData().mobile}} (mobile)</div>
              }
            </div>
          }



          @if(showAdditionalInfo() && showFullContent()) {
          <!-- Assistant Info -->
          @if(recordData().assistant || recordData().assistantPhone || recordData().assistantEmail){
            <div class="flex flex-col gap-2">
              <div class="text-sm">{{ 'label.contact.contactViaAssistant' | translate }}</div>
              @if(recordData().assistant){
                <div>{{recordData().assistant}}</div>
              }
              @if(recordData().assistantPhone){
                <div>{{recordData().assistantPhone}}</div>
              }
              @if(recordData().assistantEmail){
                <div>{{recordData().assistantEmail}}</div>
              }
            </div>
          }

          <!-- Address -->
          @if(recordData().mailingStreet || recordData().mailingCity || recordData().mailingCountry){
            <div class="flex flex-col gap-2">
              <div class="text-base">
                @if(recordData().mailingStreet){
                  <div>{{recordData().mailingStreet}}</div>
                }
                @if(recordData().mailingStreet2) {
                  <div>{{recordData().mailingStreet2}}</div>
                }
                @if(recordData().mailingCity || recordData().mailingStateProvince || recordData().mailingPostalCode){
                  <div>
                    {{recordData().mailingCity}}
                    @if(recordData().mailingStateProvince) {
                      , {{recordData().mailingStateProvince}}
                    }
                    @if(recordData().mailingPostalCode) {
                      {{recordData().mailingPostalCode}}
                    }
                  </div>
                }
                @if(recordData().mailingCountry) {
                  <div>{{recordData().mailingCountry}}</div>
                }
              </div>
            </div>
          }



            @if(recordData().id){
              <div class="flex flex-col gap-2">
                <div class="text-sm">{{ 'label.contact.id' | translate }}</div>
                <div>{{recordData().id}}</div>
              </div>
            }
            @if(recordData().department){
              <div class="flex flex-col gap-2">
                <div class="text-sm">{{ 'label.contact.department' | translate }}</div>
                <div>{{recordData().department}}</div>
              </div>
            }
            @if(recordData().status){
              <div class="flex flex-col gap-2">
                <div class="text-sm">{{ 'label.contact.status' | translate }}</div>
                <div>{{recordData().status}}</div>
              </div>
            }
            @if(recordData().pronouns){
              <div class="flex flex-col gap-2">
                <div class="text-sm">{{ 'label.contact.pronouns' | translate }}</div>
                <div>{{recordData().pronouns}}</div>
              </div>
            }
            @if(recordData().description){
              <div class="flex flex-col gap-2">
                <div class="text-sm">Notes</div>
                <div>{{recordData().description}}</div>
              </div>
            }
          }

          <!-- See More / See Less Button -->
          @if (shouldShowSeeMoreButton()) {
            <div class="flex justify-center -mb-4">
              <p-button
                label="{{ 'button.seeMore' | translate }}"
                icon="pi pi-chevron-down"
                [rounded]="true"
                [size]="'small'"
                [text]="true"
                (onClick)="toggleFullContent()"
              />
            </div>
          }

          @if (shouldShowSeeLessButton()) {
            <div class="flex justify-center -mb-4">
              <p-button
                label="{{ 'button.seeLess' | translate }}"
                icon="pi pi-chevron-up"
                [rounded]="true"
                [size]="'small'"
                [text]="true"
                (onClick)="toggleFullContent()"
              />
            </div>
          }

          <p-divider></p-divider>

          <span class="text-xl">{{ 'title.links' | translate }}</span>
          @if (recordData().id && +(recordData().id!) > 0) {
            <app-link-list [entityType]="entityTypeContact"
                           [entityId]="+(recordData().id!)"
                           [disabled]="!recordPermissions().permissions.canUpdate"
                           class="contact-links-section" />
          }

          <p-divider></p-divider>

          <span class="text-xl">{{ 'title.doc' | translate }}</span>
          <app-document #appDocument
                        [entityId]="recordId"
                        [entityName]="'contact'"
                        [acceptedFormat]="'.pdf, .xls, .xlsx, .doc, .docx'"
                        [disabled]="!recordPermissions().permissions.canUpdate"
                        class="contact-document-section">
            <div ngProjectAs="document-toolbar">
              @if(recordPermissions().permissions.canUpdate){
                <app-document-gdrive [entityId]="recordId"
                                     [entityName]="'contact'"
                                     [appDocumentRef]="appDocument"
                                     [acceptedMIMETypes]="acceptedMiMIETypesForgDrive"></app-document-gdrive>
              }
            </div>
          </app-document>
        </div>
      </p-panel>


    </div>
    <div class="md:w-1/2 flex flex-col gap-8" *ngIf="showAiPanel">
      <app-ai-panel
        class="shadow-sm contact-ai-summary"
        [title]="'label.contact.summaryOfInteractions'"
        [entityId]="recordId"
        [promptType]="'contact_interactions_summary'"
        [aiService]="geminiService"
        (onRefresh)="onSummaryRefresh()"
        (onDataLoaded)="onSummaryLoaded($event)"
        (onError)="onSummaryError($event)"
      />

    </div>
  </div>
</div>
