<div class="flex flex-col gap-8">
  <div class="flex flex-col xl:flex-row gap-8">
    <div class="xl:w-1/2 flex flex-col gap-8">
      <p-panel
        class="{{infoLoading() ? 'opacity-50' : ''}}"
      >
        <ng-template pTemplate="header">
          <div class="flex justify-between items-center w-full">
            <span class="font-semibold">{{ 'personalInformation' | translate }}</span>
            @if(recordPermissions().permissions.canUpdate){
              <p-button
                icon="pi pi-pencil"
                [rounded]="true"
                [text]="true"
                [size]="'small'"
                (onClick)="handleEditClick()"
              ></p-button>
            }
          </div>
        </ng-template>

        <div class="flex flex-col gap-6 pb-2">
          <!-- Name and Title -->
          <div class="flex gap-4">
            <app-picture
              [imageUrl]="recordData().profilePictureUrl!"
              [uploadUrl]="getUploadProfilePictureUrl()"
              [altText]="'Profile picture'"
              [size]="'medium'"
              [disabled]="!recordPermissions().permissions.canUpdate"
              (imageChanged)="_loadRecordDetails()"
            />
            <div class="flex flex-col gap-1">
              <div class="text-lg">
                {{recordData().salutation}} {{recordData().firstName}} {{recordData().middleName}} {{recordData().lastName}} {{recordData().suffix}}
              </div>
              <div class="text-gray-600">
                {{recordData().title}}
                @if(recordData().department){
                  - {{recordData().department}}
                }
              </div>
              <a [routerLink]="['/partnerships/partners', recordData().partner?.id]" class="text-primary hover:underline font-semibold">
                {{recordData().partner?.name}}
              </a>
            </div>
          </div>

          <!-- Assistant Info -->
          @if(recordData().assistant || recordData().assistantPhone || recordData().assistantEmail){
            <div class="flex flex-col gap-2">
              <div class="font-semibold">{{ 'label.contact.contactViaAssistant' | translate }}</div>
              @if(recordData().assistant){
                <div>{{recordData().assistant}}</div>
              }
              @if(recordData().assistantPhone){
                <div>{{recordData().assistantPhone}}</div>
              }
              @if(recordData().assistantEmail){
                <div>{{recordData().assistantEmail}}</div>
              }
            </div>
          }

          @if(showContactInfo()) {
            <!-- Contact Info -->
            <div class="flex flex-col xl:flex-row gap-4">
              <div class="flex flex-col gap-2">
                <div class="font-semibold">{{ 'personalInformation' | translate }}</div>

                @if(recordData().email){
                  <div>{{recordData().email}}</div>
                }
                @if(recordData().phone){
                  <div>{{recordData().phone}} ({{ 'office' | translate }})</div>
                }
                @if(recordData().mobile){
                  <div>{{recordData().mobile}} (mobile)</div>
                }
              </div>
            </div>

            <!-- Address -->
            @if(recordData().mailingStreet || recordData().mailingCity || recordData().mailingCountry){
              <div class="flex flex-col gap-2">
                <div class="font-semibold">{{ 'label.contact.mailingAddress' | translate }}</div>
                <div class="text-base">
                  @if(recordData().mailingStreet){
                    <div>{{recordData().mailingStreet}}</div>
                  }
                  @if(recordData().mailingStreet2) {
                    <div>{{recordData().mailingStreet2}}</div>
                  }
                  @if(recordData().mailingCity || recordData().mailingStateProvince || recordData().mailingPostalCode){
                    <div>
                      {{recordData().mailingCity}}
                      @if(recordData().mailingStateProvince) {
                        , {{recordData().mailingStateProvince}}
                      }
                      @if(recordData().mailingPostalCode) {
                        {{recordData().mailingPostalCode}}
                      }
                    </div>
                  }
                  @if(recordData().mailingCountry) {
                    <div>{{recordData().mailingCountry}}</div>
                  }
                </div>
              </div>
            }

            <!-- Additional Info -->
            @if(recordData().description){
              <div class="flex flex-col gap-2">
                <div class="font-semibold">Notes</div>
                <div>{{recordData().description}}</div>
              </div>
            }
          } @else {
            <div class="flex justify-center -my-2">
              <p-button
                label="{{ 'button.seeMore' | translate }}"
                icon="pi pi-chevron-down"
                [rounded]="true"
                [size]="'small'"
                [text]="true"
                (onClick)="showContactInfo.set(true)"
              />
            </div>
          }

        </div>
      </p-panel>

      <p-panel
        header="{{ 'title.links' | translate }}"
      >
        <app-link-list
          [entityType]="entityTypeContact"
          [entityId]="+recordId"
          [disabled]="!recordPermissions().permissions.canUpdate"
        />
      </p-panel>


    </div>

    <div class="xl:w-1/2 flex flex-col gap-8">
      <p-panel
        header="Summary"
      >
      </p-panel>

      <app-contact-view-interactions
        [contactId]="recordId"
        [disabled]="!recordPermissions().permissions.canUpdate"
      />

      <p-panel #docPanel header="{{ 'title.doc' | translate }}" [styleClass]="'section'">
        <app-document #appDocument
                      [entityId]="recordId"
                      [entityName]="'contact'"
                      [acceptedFormat]="'.pdf, .xls, .xlsx, .doc, .docx'"
                      [disabled]="!recordPermissions().permissions.canUpdate">
          <div ngProjectAs="document-toolbar">
            @if(recordPermissions().permissions.canUpdate){
              <app-document-gdrive [entityId]="recordId"
                                 [entityName]="'contact'"
                                 [appDocumentRef]="appDocument"
                                 [acceptedMIMETypes]="acceptedMiMIETypesForgDrive"></app-document-gdrive>
            }
          </div>
        </app-document>
      </p-panel>

      <p-panel
        header="System Information"
      >
        <div class="flex flex-col gap-4">
          <!-- Status and ID -->
          <div class="flex flex-col gap-2">
            <div class="font-semibold">Status</div>
            <div>{{recordData().status}}</div>
          </div>

          <div class="flex flex-col gap-2">
            <div class="font-semibold">Contact ID</div>
            <div>{{recordData().id}}</div>
          </div>

          <!-- Creation Info -->
          <div class="flex flex-col gap-2">
            <div class="font-semibold">Created</div>
            <div>
              {{recordData().createdDate | date:'medium'}}
              @if(recordData().createdBy){
                <div class="text-sm text-gray-600">by {{recordData().createdBy}}</div>
              }
            </div>
          </div>

          <!-- Last Modified -->
          @if(recordData().lastModifiedDate){
            <div class="flex flex-col gap-2">
              <div class="font-semibold">Last Modified</div>
              <div>
                {{recordData().lastModifiedDate | date:'medium'}}
                @if(recordData().lastModifiedBy){
                  <div class="text-sm text-gray-600">by {{recordData().lastModifiedBy}}</div>
                }
              </div>
            </div>
          }
        </div>
      </p-panel>

    </div>
  </div>
  
  <div class="flex justify-end gap-2 w-full">
    <p-button label="{{'button.back' | translate}}" icon="pi pi-arrow-left" [styleClass]="'p-button-text'"
              rounded
              (onClick)="router.navigate(['partnerships/contacts'])" />
  </div>
</div>
