<div class="flex flex-col w-full" [ngClass]="{'border-l-3 border-l-solid': item.items, 'border-l-primary': active && item.items}">
    @if (item.items && !item.routerLink) {
        <a (click)="itemClick($event)" [attr.tabindex]="0"
            class="flex flex-row items-center justify-start gap-2 py-2 rounded-md cursor-pointer text-text-color hover:bg-surface-hover transition-colors duration-200 bg-black/[0.01] font-medium"
            [ngClass]="{'font-bold text-primary': active}">

            <span class="material-symbols-outlined text-unops-xl">{{item.icon}}</span>
            <span>{{ item.label! | translate }}</span>

            <i class="pi pi-angle-down ml-auto transition-transform duration-200" [ngClass]="{'rotate-180': active}"></i>
        </a>
    }

    @if (item.routerLink) {
        <a (click)="itemClick($event)" [routerLink]="item.routerLink"
            routerLinkActive="font-bold text-primary bg-sky-400/[0.1]" [routerLinkActiveOptions]="{exact: false}" [attr.tabindex]="0" 
            class="flex flex-row items-center justify-start gap-2 py-2 rounded-md cursor-pointer text-text-color hover:bg-surface-hover transition-colors duration-200">

            <span class="material-symbols-outlined text-unops-xl">{{item.icon}}</span>
            <span>{{ item.label! | translate }}</span>
        </a>
    }

    @if (item.items) {
        <ul [@submenu]="active ? 'visible' : 'hidden'" class="list-none m-0 p-0 overflow-hidden">
            @for (child of item.items; track child) {
                <app-menu-item [item]="child" class="block pl-4 text-unops-sm"></app-menu-item>
            }
        </ul>
    }
</div>
