<div class="flex justify-end">
    <p-button icon="pi pi-plus" label="New Partner Level" class="mr-2 mb-2 mt-2" (onClick)="onCreateNewPartnerLevel()"/>
</div>
<div class="table-container">
    <p-treetable #treetable (onEditComplete)="onEditComplete($event)" [value]="data" [columns]="cols" [scrollable]="true" showGridlines [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template #caption>
            <div class="text-xl font-bold">Partner Tree</div>
        </ng-template>
        <ng-template #header let-columns>
            <tr>
                <th *ngFor="let col of columns">
                   {{ col.label  | translate }}
                </th>
            </tr>
        </ng-template>
        <ng-template #body let-rowNode let-rowData="rowData" let-columns="columns">
            <tr [ttRow]="rowNode" [pEditableRow]="rowData" [ngClass]="{'updated-record': isRecordUpdated(rowNode)}">
                <td *ngFor="let col of columns; let i = index; let last = last" [ttEditableColumn]="col.id" [ttEditableColumnField]="rowData">
                    <p-treeTableToggler [rowNode]="rowNode" *ngIf="i === 0" />
                    <p-button icon="pi pi-plus" *ngIf="i === 0 && rowData['type'] !== 'Level_3'" rounded="true" severity="primary" class="mr-2" (onClick)="onAddPartnerLevel(rowData)"/>
                    <span *ngIf="col.editable === false || (col.id === 'parent' && rowData[col.id] === ''); else editableBlock">{{rowData[col.id]}} </span>
                    <ng-template #editableBlock>
                        <p-treeTableCellEditor>
                            <ng-template pTemplate="input">
                                <ng-container *ngIf="col.id === 'parent'; else textInput">
                                    {{rowData[col.id]}}
                                </ng-container>
                                <ng-template #textInput>
                                    <textarea rows="5" cols="30" pTextarea fluid="true" [(ngModel)]="rowData[col.id]" [ngStyle]="{'width': i == 0 ? '90%': '100%'}"></textarea>
                                </ng-template>
                            </ng-template>
                            <ng-template pTemplate="output" class="p-cell-editor-output">
                                {{rowData[col.id]}}
                            </ng-template>
                        </p-treeTableCellEditor>
                    </ng-template>
                    <ng-container *ngIf="last">
                        <p-button icon="pi pi-eye" rounded="true" severity="success" class="mr-2" (onClick)="updatePartnerLevel = true; changeRecord = rowData;"/>
                    </ng-container>
                </td>
            </tr>
        </ng-template>
        <ng-template #summary>
            <div style="text-align:left">
                <p-button icon="pi pi-refresh" label="Revert Changes" severity="warn" class="mb-6 pr-2" (onClick)="handleOnRevertClick()"/>
                <p-button icon="pi pi-save" label="Save Updates" severity="success" class="mb-6 pr-2" (onClick)="handleOnSaveClick()"/>
            </div>
        </ng-template>
    </p-treetable>
    <div class="spinner-container" *ngIf="isDataLoading">
        <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '50px', height: '50px' }" />
    </div>
</div>

@if(createPartnerLevel) {
    <p-dialog header="{{ 'title.newPartnerLevel' | translate }}"
      [modal]="true"
      position="bottom"
      [(visible)]="createPartnerLevel"
      [styleClass]="'new-contact-dialog'"
      [maximizable]="true"
      (onHide)="createPartnerLevel = false; changeRecord = null;" >
  
      <app-partner-tree-item [record]="changeRecord" (onRecordUpdateSuccess)="handleOnRecordUpdation($event)"></app-partner-tree-item>
  
    </p-dialog>
  }  

@if(updatePartnerLevel) {
    <p-dialog header="{{ 'title.updatePartnerLevel' | translate }}"
      [modal]="true"
      position="bottom"
      [(visible)]="updatePartnerLevel"
      [styleClass]="'new-contact-dialog'"
      [maximizable]="true"
      (onHide)="updatePartnerLevel = false; changeRecord = null;" >
  
      <app-partner-tree-item [record]="changeRecord" (onRecordUpdateSuccess)="handleOnRecordUpdation($event)"></app-partner-tree-item>
  
    </p-dialog>
  }