<div class="flex flex-col gap-8">
  <div class="flex gap-4 items-center">
    <div class="text-3xl font-bold">Partner Tree</div>
    <div class="grow"></div>
    @if(!permissionsLoading() && permissionUtilityService.canCreate(entityPermissions())) {
      <p-button icon="pi pi-plus" label="New Partner Level" (onClick)="onCreateNewPartnerLevel()"/>
    }
  </div>
  <div class="table-container">
    <p-treetable
      [loading]="service.isLoading()"
      #partnerTreeTable
      (onEditComplete)="onEditComplete($event)"
      (onNodeExpand)="onNodeExpand($event)"
      (onNodeCollapse)="onNodeCollapse($event)"
      [value]="data"
      showGridlines
      [tableStyle]="{ 'min-width': '50rem' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <!-- Always show first actions column -->
          <th>{{ 'label.partnerTree.actions' | translate }}</th>

          @if (!treeColumnsLoading()) {
            <!-- Dynamic columns from API -->
            @for (column of treeColumns(); track column.field) {
              <th> {{ column.label | translate }}
                  @if (column.helperText) {
                    <i class="pi pi-question-circle text-gray-400 cursor-help text-xs"
                       [pTooltip]="column.helperText"
                       tooltipPosition="top"
                       [showDelay]="300">
                    </i>
                  }
              </th>
            }
          } @else {
            <!-- Loading fallback columns -->
            <th>{{ 'label.partnerTree.name' | translate }}</th>
            <th>{{ 'label.partnerTree.description' | translate }}</th>
            <th class="w-20">{{ 'label.partnerTree.type' | translate }}</th>
            <th>{{ 'label.partnerTree.partnerCategory' | translate }}</th>
            <th>{{ 'label.partnerTree.partnerGroup' | translate }}</th>
          }

          <!-- Always show last actions column -->
          <th class="w-32">{{ 'label.partnerTree.actions' | translate }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
        <tr [ttRow]="rowNode" [pEditableRow]="rowData"
            [class.!bg-lime-50]="isRecordUpdated(rowNode)">
          <!-- Action Column (first) -->
          <td [ttEditableColumn]="'action'" [ttEditableColumnField]="rowData">
            <p-treeTableToggler [rowNode]="rowNode" class="mr-2" />
            <p-button icon="pi pi-plus" *ngIf="rowData['type'] !== 'Level_3'" rounded="true" outlined severity="primary" class="mr-2" (onClick)="onAddPartnerLevel(rowData)"/>
            <span class="block overflow-hidden text-ellipsis whitespace-nowrap max-w-[200px]" [pTooltip]="rowData['action']" tooltipPosition="top">
              {{ rowData['action'] }}
            </span>
          </td>

          <!-- Name Column -->
          <td [ttEditableColumn]="'name'" [ttEditableColumnField]="rowData">
            <p-treeTableCellEditor>
              <ng-template pTemplate="input">
                <div class="flex flex-col">
                  <textarea rows="5" cols="30" pTextarea fluid="true" [(ngModel)]="rowData['name']" [ngStyle]="{'width': '100%'}" [ngClass]="{'ng-invalid ng-dirty': !rowData['name']}" required></textarea>
                  <small *ngIf="!rowData['name']" class="p-error">{{ "validation.required" | translate }}</small>
                </div>
              </ng-template>
              <ng-template pTemplate="output" class="p-cell-editor-output">
                <span class="block overflow-hidden text-ellipsis whitespace-nowrap max-w-[200px]" [pTooltip]="rowData['name']" tooltipPosition="top">{{rowData['name']}}</span>
              </ng-template>
            </p-treeTableCellEditor>
          </td>

          <!-- Description Column -->
          <td [ttEditableColumn]="'description'" [ttEditableColumnField]="rowData">
            <p-treeTableCellEditor>
              <ng-template pTemplate="input">
                <textarea rows="5" cols="30" pTextarea fluid="true" [(ngModel)]="rowData['description']" [ngStyle]="{'width': '100%'}"></textarea>
              </ng-template>
              <ng-template pTemplate="output" class="p-cell-editor-output">
                <span class="block overflow-hidden text-ellipsis whitespace-nowrap max-w-[200px]" [pTooltip]="rowData['description']" tooltipPosition="top">{{rowData['description']}}</span>
              </ng-template>
            </p-treeTableCellEditor>
          </td>

          <!-- Type Column -->
          <td [ttEditableColumn]="'type'" [ttEditableColumnField]="rowData" class="w-20">
            <span class="block overflow-hidden text-ellipsis whitespace-nowrap max-w-[200px] text-center" [pTooltip]="rowData['type']" tooltipPosition="top">
              {{ rowData['type']?.split('_')[1] }}
            </span>
          </td>

          <!-- Partner Category Column -->
          <td [ttEditableColumn]="rowData.partnerCategoryEditable ? 'partnerCategory' : null" [ttEditableColumnField]="rowData">
            <p-treeTableCellEditor>
              <ng-template pTemplate="input">
                <p-select *ngIf="rowData.partnerCategoryEditable" [options]="parentOptions" [(ngModel)]="rowData['partnerCategory']" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Select a Partner Category" class="w-full" [appendTo]="'body'" [ngClass]="{'ng-invalid ng-dirty': !rowData['partnerCategory']}" required>
                  <ng-template let-item pTemplate="item">
                    <div>{{ item.name }}</div>
                  </ng-template>
                </p-select>
                <span *ngIf="!rowData.partnerCategoryEditable" class="block overflow-hidden text-ellipsis whitespace-nowrap max-w-[200px]">{{rowData['partnerCategory']}}</span>
              </ng-template>
              <ng-template pTemplate="output" class="p-cell-editor-output">
                <span *ngIf="rowData.partnerCategoryEditable" class="block overflow-hidden text-ellipsis whitespace-nowrap max-w-[200px]" [pTooltip]="rowData['partnerCategoryName']" tooltipPosition="top">{{rowData['partnerCategoryName'] || rowData['partnerCategory']}}</span>
              </ng-template>
            </p-treeTableCellEditor>
          </td>

          <!-- Partner Group Column -->
          <td [ttEditableColumn]="rowData.partnerGroupEditable ? 'partnerGroup' : null" [ttEditableColumnField]="rowData">
            <p-treeTableCellEditor>
              <ng-template pTemplate="input">
                <p-select *ngIf="rowData.partnerGroupEditable" [options]="getFilteredPartnerGroupOptions(rowData)" [(ngModel)]="rowData['partnerGroup']" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Select a Partner Group" class="w-full" [appendTo]="'body'" [ngClass]="{'ng-invalid ng-dirty': !rowData['partnerGroup']}" required>
                  <ng-template let-item pTemplate="item">
                    <div>{{ item.name }}</div>
                  </ng-template>
                </p-select>
                <span *ngIf="!rowData.partnerGroupEditable" class="block overflow-hidden text-ellipsis whitespace-nowrap max-w-[200px]">{{rowData['partnerGroup']}}</span>
              </ng-template>
              <ng-template pTemplate="output" class="p-cell-editor-output">
                <span *ngIf="rowData.partnerGroupEditable" class="block overflow-hidden text-ellipsis whitespace-nowrap max-w-[200px]" [pTooltip]="rowData['partnerGroupName']" tooltipPosition="top">{{rowData['partnerGroupName'] || rowData['partnerGroup']}}</span>
              </ng-template>
            </p-treeTableCellEditor>
          </td>

          <!-- Action Column (last) -->
          <td [ttEditableColumn]="'action'" [ttEditableColumnField]="rowData" class="w-32">
            <div class="flex justify-center w-full gap-2">
              <p-button icon="pi pi-pencil" rounded="true" severity="success" outlined (onClick)="openPartnerDialog(rowData)"/>
              <p-button icon="pi pi-list" rounded="true" severity="info" outlined [routerLink]="['/admin/partner-tree', rowData['id']]"/>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="(treeColumns().length || 5) + 2" class="text-center py-6">
            <div class="flex flex-col items-center gap-3">
              <i class="pi pi-inbox text-4xl text-gray-300"></i>
              <span class="text-gray-500">{{ 'message.noRecordsFound' | translate }}</span>
            </div>
          </td>
        </tr>
      </ng-template>

    </p-treetable>
  </div>
  @if (updatedRecords.length > 0) {
    <div class="flex justify-end gap-2 sticky bottom-0 bg-white py-4 -mt-2">
      <p-button icon="pi pi-refresh" label="Revert Changes" outlined="" severity="warn" (onClick)="handleOnRevertClick()"/>
      <p-button icon="pi pi-check" label="Save Updates" severity="success" (onClick)="handleOnSaveClick()" [disabled]="hasInvalidRecords()"/>
    </div>
  }
</div>
