<div class="flex flex-col gap-8">
  <div class="flex flex-wrap items-center">
    <div>
      <p class="text-2xl font-semibold"> {{ 'title.partners' | translate }} </p>
    </div>
    <div class="grow"></div>
    <div>
      <p-button icon="pi pi-plus" label="New" title="New Partner"
                (onClick)="newPartnerData.set({})"/>
    </div>
  </div>

  <app-listview
    [dataUrl]="'/api/partner'"
    [columns]="columns"
    (rowDblClick)="handleOnOpenRecordDetails($event)"
  >
    <ng-template #actionsTemplate let-partner>
      <div class="flex gap-2">
        <p-button [outlined]="true" icon="pi pi-file-edit" (click)="handleOnOpenRecordDetails(partner)" title="Open Record Details" rounded />
        <p-button severity="danger" [outlined]="true"  icon="pi pi-trash" (click)="handleOnRecordDelete(partner)" title="Delete Record" rounded />
      </div>
    </ng-template>
  </app-listview>
</div>

@if (newPartnerData()) {
  <app-partner-new
    [partnerData]="newPartnerData()"
    (onRecordCreationSuccess)="_handleOnRecordCreation($event)"
    (closeModal)="newPartnerData.set(null)"
  ></app-partner-new>
}

