<div class="flex flex-col gap-8">
  <div class="flex flex-wrap items-center gap-4">
    <div class="flex items-center gap-3 partner-section-header">
      <span class="material-symbols-outlined text-3xl">corporate_fare</span>
      <p class="text-3xl font-bold"> {{ 'title.partners' | translate }} </p>
    </div>
    <div class="ml-auto flex gap-2">
      @if (!permissionsLoading() && entityPermissions().permissions.canCreate) {
        <p-button
          icon="pi pi-file-import"
          [label]="'button.import' | translate"
          (click)="openImportDialog()"
          rounded
          text
          class="partner-import-button"
        />
        <p-button
          icon="pi pi-plus"
          label="New"
          title="New Partner"
          rounded
          (onClick)="openPartnerEditDialog()"
          class="partner-new-button"
        />
      }
    </div>
  </div>

  <app-listview
    [dataUrl]="'/api/partner'"
    [entityType]="'Partner'"
    [columns]="columns()"
    [config]="listviewConfig()"
    (rowClick)="handleOnOpenRecordDetails($event)"
    (searchChange)="onSearchChange($event)"
    class="partner-listview"
  >
  </app-listview>
</div>

@if (newPartnerData()) {
  <app-partner-new
    [partnerData]="newPartnerData()"
    (onRecordCreationSuccess)="_handleOnRecordCreation($event)"
    (closeModal)="newPartnerData.set(null)"
  ></app-partner-new>
}
