<div class="flex flex-col gap-8">
  <div class="flex flex-wrap items-center gap-4">
    <div>
      <p class="text-2xl font-semibold"> {{ 'title.partners' | translate }} </p>
    </div>
    <div class="ml-auto flex gap-2">
      <p-button
        icon="pi pi-file-import"
        [label]="'button.import' | translate"
        (click)="openImportDialog()"
        severity="secondary"
      />
      <p-button 
        icon="pi pi-plus" 
        label="New" 
        title="New Partner"
        (onClick)="openPartnerEditDialog()"
      />
    </div>
  </div>

  <app-listview
    [dataUrl]="'/api/partner'"
    [columns]="columns"
    [config]="listviewConfig"
    (rowClick)="handleOnOpenRecordDetails($event)"
    (searchChange)="onSearchChange($event)"
  >
  </app-listview>
</div>

@if (newPartnerData()) {
  <app-partner-new
    [partnerData]="newPartnerData()"
    (onRecordCreationSuccess)="_handleOnRecordCreation($event)"
    (closeModal)="newPartnerData.set(null)"
  ></app-partner-new>
}

