<p-confirmDialog></p-confirmDialog>

<div class="flex flex-col gap-4">
  
  <!-- Search bar -->
  @if (config.enableSearch) {
    <!-- Autocomplete Search Input (default mode) -->
    @if (!isAdvancedSearch()) {
      <div class="w-full flex gap-2 items-center">
        <p-iconfield iconPosition="left">
          <p-inputicon class="pi pi-search" />
          <input pInputText type="text"
            [(ngModel)]="searchValue"
            [placeholder]="searchPlaceholder()"
            (keyup.enter)="onSearch()"
            class="w-64"
          />
          @if (searchValue && searchValue.length > 0) {
            <p-inputicon class="pi pi-times cursor-pointer" (click)="clearSearch()" />
          }
        </p-iconfield>
        
        <!-- Advanced Search Button -->
        @if (config.searchConfig?.useAdvancedSearch) {
          <div class="flex justify-start">
            <p-button
              [label]="'search.advanced' | translate"
              icon="pi pi-filter"
              text
              (onClick)="switchToAdvancedSearch()"
            ></p-button>
          </div>
        }
      </div>
    }
    
    <!-- Advanced Search -->
    @if (isAdvancedSearch()) {
      <app-listview-advanced-search
        [config]="config"
        [isLoading]="isLoading()"
        [searchCriteria]="searchCriteria"
        [entityType]="entityType"
        (search)="onAdvancedSearch($event)"
        (removeCriterion)="onRemoveSearchCriterion($event)"
        (clearSearch)="onClearAdvancedSearch()"
        (exportData)="exportData()"
        (switchToSimple)="switchToSimpleSearch()">
      </app-listview-advanced-search>
    }
  }

    <!-- Table view -->
    @if (viewMode === 'table') {
      <app-listview-table
        [columns]="columns"
        [config]="config"
        [data]="currentPageData()"
        [totalRecords]="totalRecordsCount()"
        [loading]="isLoading()"
        [error]="hasError()"
        [first]="first"
        [rows]="rows"
        (pageChange)="onPageChange($event)"
        (sortChange)="onSortChange($event)"
        (rowClick)="onRowClick($event)"
      >
        @if (actionsTemplate) {
          <ng-template #tableActionsTemplate let-rowData>
            <ng-container
              [ngTemplateOutlet]="actionsTemplate"
              [ngTemplateOutletContext]="{ $implicit: rowData }"
            ></ng-container>
          </ng-template>
        }
      </app-listview-table>
    }
    
    <!-- Card view -->
    @if (viewMode === 'card') {
      <app-listview-card
        [columns]="columns"
        [config]="config"
        [data]="currentPageData()"
        [totalRecords]="totalRecordsCount()"
        [loading]="isLoading()"
        [error]="hasError()"
        [first]="first"
        [rows]="rows"
        (pageChange)="onPageChange($event)"
        (sortChange)="onSortChange($event)"
        (rowClick)="onRowClick($event)"
      >
        @if (actionsTemplate) {
          <ng-template #cardActionsTemplate let-rowData>
            <ng-container
              [ngTemplateOutlet]="actionsTemplate" 
              [ngTemplateOutletContext]="{ $implicit: rowData }"
            ></ng-container>
          </ng-template>
        }
      </app-listview-card>
    }
</div>
