<p-confirmDialog></p-confirmDialog>

<div class="flex flex-col gap-4">
  
  <!-- Search bar -->
  @if (config.enableSearch) {
        <!-- Simple Search Input -->
        @if (!config.searchConfig?.useAdvancedSearch) {
          <div class="w-full">
            <p-iconfield iconPosition="left" class="w-full">
              <p-inputicon class="pi pi-search" />
              <input pInputText type="text"
                [placeholder]="searchPlaceholder()"
                [(ngModel)]="searchText"
                (input)="onSearchInput(searchText)"
                (keyup.enter)="onSearch()"
                class="w-full"
              />
              @if (searchText.length > 0) {
                <p-inputicon class="pi pi-times" (click)="clearSearch()" />
              }
            </p-iconfield>
          </div>
        }
        
        <!-- Advanced Search with Chips -->
        @if (config.searchConfig?.useAdvancedSearch) {
          <app-listview-advenced-search
            [config]="config"
            [isLoading]="isLoading()"
            [searchCriteria]="searchCriteria"
            (search)="onAdvancedSearch($event)"
            (removeCriterion)="onRemoveSearchCriterion($event)"
            (clearSearch)="clearSearch()"
            (exportData)="exportData()"
          ></app-listview-advenced-search>
        }
      
      
      <!-- <div class="flex align-items-center gap-2">
        @if (config.enableExport && (config.exportOptions?.showButton ?? true) && !config.searchConfig?.useAdvancedSearch) {
          <p-button
            [label]="config.exportOptions?.buttonLabel ?? 'Export'"
            icon="pi pi-file-export"
            severity="secondary"
            (onClick)="exportData()"
            [disabled]="isLoading()"
            styleClass="p-button-text p-button-export"
          ></p-button>
        }
        
        @if (config.showViewModeToggle !== false) {
          <div class="p-buttonset">
            <button pButton
              icon="pi pi-list"
              [ngClass]="{'p-button-primary': viewMode === 'table', 'p-button-outlined': viewMode !== 'table'}"
              (click)="setViewMode('table', true)"
              pTooltip="Table view"
              tooltipPosition="bottom"
            ></button>
            <button pButton
              icon="pi pi-th-large"
              [ngClass]="{'p-button-primary': viewMode === 'card', 'p-button-outlined': viewMode !== 'card'}"
              (click)="setViewMode('card', true)"
              pTooltip="Card view"
              tooltipPosition="bottom"
            ></button>
          </div>
        }
      </div> -->
  }

    <!-- Table view -->
    @if (viewMode === 'table') {
      <app-listview-table
        [columns]="columns"
        [config]="config"
        [data]="currentPageData()"
        [totalRecords]="totalRecordsCount()"
        [loading]="isLoading()"
        [error]="hasError()"
        [first]="first"
        [rows]="rows"
        (pageChange)="onPageChange($event)"
        (sortChange)="onSortChange($event)"
        (rowClick)="onRowClick($event)"
      >
        @if (actionsTemplate) {
          <ng-template #tableActionsTemplate let-rowData>
            <ng-container
              [ngTemplateOutlet]="actionsTemplate"
              [ngTemplateOutletContext]="{ $implicit: rowData }"
            ></ng-container>
          </ng-template>
        }
      </app-listview-table>
    }
    
    <!-- Card view -->
    @if (viewMode === 'card') {
      <app-listview-card
        [columns]="columns"
        [config]="config"
        [data]="currentPageData()"
        [totalRecords]="totalRecordsCount()"
        [loading]="isLoading()"
        [error]="hasError()"
        [first]="first"
        [rows]="rows"
        (pageChange)="onPageChange($event)"
        (sortChange)="onSortChange($event)"
        (rowClick)="onRowClick($event)"
      >
        @if (actionsTemplate) {
          <ng-template #cardActionsTemplate let-rowData>
            <ng-container
              [ngTemplateOutlet]="actionsTemplate" 
              [ngTemplateOutletContext]="{ $implicit: rowData }"
            ></ng-container>
          </ng-template>
        }
      </app-listview-card>
    }
</div>
