<div class="p-1 rounded-xl bg-surface-50" [class.opacity-20]="loading">
  <p-table
  [value]="data"
  [columns]="columns"
  [scrollable]="config.scrollable"
  [loading]="loading"
  [first]="first"
  [lazy]="true"
  [paginator]="config.enablePagination && data.length > 0"
  [rows]="rows"
  [totalRecords]="totalRecords"
  [rowsPerPageOptions]="config.pageSizeOptions"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
  (onPage)="onPageChange($event)"
  (onSort)="onSortChange($event)"
  styleClass="p-datatable-sm"
>
  <!-- Column header template -->
  <ng-template pTemplate="header" let-columns>
    <tr>
      @for (column of columns; track column) {
        @if (column.sortable && config.enableSorting) {
          <th [pSortableColumn]="column.field" [ngStyle]="{'width': column.width || 'auto'}">
            {{ column.label | translate }}
            <p-sortIcon [field]="column.field"></p-sortIcon>
          </th>
        } @else {
          <th [ngStyle]="{'width': column.width || 'auto'}">{{ column.label | translate }}</th>
        }
      }
      <!-- Add actions column header if actions template exists -->
      @if (hasActionsTemplate()) {
        <th class="w-12">{{ 'label.actions' | translate }}</th>
      }
    </tr>
  </ng-template>

  <!-- Rows template -->
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr (click)="onRowClick(rowData)" >
      @for (column of columns; track column) {
        <td class="cursor-pointer" [ngClass]="{'ellipsis-cell': column.ellipsis}">
          @switch (column.type) {
            @case ('date') {
              <span [ngClass]="{'ellipsis-text': column.ellipsis}" [title]="column.ellipsis ? (rowData[column.field] | date: (column.format || 'medium')) : ''">
                {{ rowData[column.field] | date: (column.format || 'medium') }}
              </span>
            }
            @case ('number') {
              <span [ngClass]="{'ellipsis-text': column.ellipsis}" [title]="column.ellipsis ? (rowData[column.field] | number: (column.format || '1.2-2')) : ''">
                {{ rowData[column.field] | number: (column.format || '1.2-2') }}
              </span>
            }
            @case ('currency') {
              <span [ngClass]="{'ellipsis-text': column.ellipsis}" [title]="column.ellipsis ? (rowData[column.field] | currency: (column.format || 'USD')) : ''">
                {{ rowData[column.field] | currency: (column.format || 'USD') }}
              </span>
            }
            @case ('translate') {
              <span [ngClass]="{'ellipsis-text': column.ellipsis}" [title]="column.ellipsis ? (rowData[column.field] | translate) : ''">
                {{ rowData[column.field] | translate }}
              </span>
            }
            @case ('avatar') {
              @if (rowData[column.field]) {
                <p-avatar [image]="getAvatarUrl(rowData, column.field)" shape="circle" [style]="{'margin': '0 auto', 'display': 'block'}" imageAlt="Avatar"></p-avatar>
              }
            }
            @case ('email') {
              <a href="mailto:{{ rowData[column.field] }}" (click)="$event.stopPropagation()" class="text-primary hover:underline" [ngClass]="{'ellipsis-text': column.ellipsis}" [title]="column.ellipsis ? rowData[column.field] : ''">{{ rowData[column.field] }}</a>
            }
            @case ('conditionalIcon') {
              <i [ngClass]="(column.conditionFn ? column.conditionFn(rowData) : rowData[column.field]) ? 'pi pi-verified text-green-500' : 'pi pi-times-circle text-red-300'"></i>
            }
            @case ('multiple-avatars') {
              <div class="flex -space-x-1 overflow-hidden">
                @for (item of getMultipleAvatarItems(rowData, column); track $index; let i = $index) {
                  @if (i < 4) {
                    @if (getAvatarUrl(item, column.field.split('.').pop()!)) {
                      <p-avatar 
                        [image]="getAvatarUrl(item, column.field.split('.').pop()!)" 
                        shape="circle" 
                        [style]="{'border': '1px solid #cfdeec', 'z-index': 10 - i, 'background-color': 'white'}"
                        [title]="getAvatarTitle(item, column.firstLetterFallbackField)"
                        imageAlt="Contact Avatar">
                      </p-avatar>
                    } @else {
                      <p-avatar 
                        [label]="getAvatarInitials(item, column.firstLetterFallbackField)"
                        shape="circle" 
                        [style]="{'border': '1px solid #cfdeec', 'z-index': 10 - i, 'background-color': 'white', color: '#4b5563'}"
                        [title]="getAvatarTitle(item, column.firstLetterFallbackField)">
                      </p-avatar>
                    }
                  }
                }
                @if (getMultipleAvatarItems(rowData, column).length > 4) {
                  <div class="flex items-center justify-center w-8 h-8 bg-surface-300 text-gray-600 rounded-full border-2 border-white text-xs font-medium" 
                  [title]="'And ' + (getMultipleAvatarItems(rowData, column).length - 4) + ' more'">
                    <i class="pi pi-plus" style="font-size: 8px;"></i>
                  </div>
                }
              </div>
            }
            @case ('template') {
              <span [ngClass]="{'ellipsis-text': column.ellipsis}" [title]="column.ellipsis ? getTemplateValue(rowData, column) : ''" [innerHTML]="getTemplateValue(rowData, column)"></span>
            }
            @default {
              <span [ngClass]="{'ellipsis-text': column.ellipsis}" [title]="column.ellipsis ? rowData[column.field] : ''">
                {{ rowData[column.field] }}
              </span>
            }
          }
        </td>
      }
      <!-- Add actions column if actions template exists -->
      @if (hasActionsTemplate()) {
        <td>
          <ng-container
            [ngTemplateOutlet]="actionsTemplate!"
            [ngTemplateOutletContext]="{ $implicit: rowData }"
          ></ng-container>
        </td>
      }
    </tr>
  </ng-template>

  <!-- Empty state template -->
  <ng-template pTemplate="emptymessage">
    <tr>
      <td [attr.colspan]="hasActionsTemplate() ? columns.length + 1 : columns.length" class="text-center p-4">
        @if (loading) {
          <div class="flex justify-center items-center p-4">
            <i class="pi pi-spin pi-spinner text-2xl"></i>
          </div>
        } @else if (error) {
          <div class="text-red-500">
            <i class="pi pi-exclamation-circle mr-2"></i>
            {{ 'error.dataLoad' | translate }}
          </div>
        } @else {
          <div>{{ 'message.noRecordsFound' | translate }}</div>
        }
      </td>
    </tr>
  </ng-template>
</p-table>

</div>
