<div class="flex flex-col gap-4">
    <div class="flex flex-col items-center justify-center gap-4 relative" [ngClass]="scanning ? 'opacity-50' : ''">
    @if (scanning) {
      <p-progress-spinner styleClass class="absolute z-10"/>
    }

    <div class="relative w-full aspect-video bg-black rounded-lg overflow-hidden" *ngIf="!capturedImage">
      <video #video class="w-full h-full object-cover" autoplay playsinline></video>
      <div class="absolute inset-0 flex items-center justify-center">
        <div class="w-4/5 h-3/5 border-2 border-white/50 rounded-lg shadow-[0_0_0_9999px_rgba(0,0,0,0.5)]"></div>
      </div>
      <div class="absolute top-2 right-2 md:hidden">
        <p-button icon="pi pi-sort-alt" styleClass="p-button-rounded p-button-text p-button-sm" (onClick)="toggleCamera()"></p-button>
      </div>
    </div>

    <div class="w-full aspect-video rounded-lg overflow-hidden shadow-sm" *ngIf="capturedImage">
      <img [src]="capturedImage" alt="Captured business card" class="w-full h-full object-cover bg-black">
    </div>

    <div class="w-full" *ngIf="error">
      <p-message severity="error" [text]="error"></p-message>
    </div>
  </div>

    <div class="flex w-full gap-2 justify-end">
      @if (capturedImage) {
        <p-button label="Retake" icon="pi pi-refresh"  (onClick)="retake()" styleClass="p-button-secondary" [outlined]="true"></p-button>
        <p-button label="Scan" icon="pi pi-search" (onClick)="scanBusinessCard()" [loading]="scanning"></p-button>
      } @else {
        <p-fileUpload #fileUpload mode="basic" chooseIcon="pi pi-upload"
                    [auto]="true" accept="image/*" [maxFileSize]="5000000"
                    (uploadHandler)="handleFileUpload($event)"
                    [customUpload]="true"
                    [chooseLabel]="'button.uploadImage' | translate">
        </p-fileUpload>
        <p-button label="Capture"  icon="pi pi-camera" (onClick)="captureImage()"></p-button>
      }
    </div>
</div>


<canvas #canvas class="hidden"></canvas>
