<p-blockui [blocked]="fundingOpportunityService.isLoading()" />

@if( showValidationFailedError() === true ){
  <p-message severity="error" icon="pi pi-info-circle" styleClass="mt-2 mb-3">Please fill all the required details.</p-message>
}

<form class="w-full h-full" [formGroup]="formGroup">

  <div class="flex flex-col h-full">
    <div class="grow">

      <div class="mb-6">
        <label class="required">*</label><label> {{'label.fundingOpportunity.name' | translate}} </label>
        <input pInputText [pAutoFocus]="true" fluid="true" formControlName="name"/>
        @if( formGroup.get("name")?.invalid && showValidationFailedError() )
        {
          <p-message severity="error" variant="simple">Name must be entered.</p-message>
        }
      </div>

      <div class="mb-6">
        <label>{{'label.fundingOpportunity.description' | translate}}</label>
        <textarea rows="5" cols="30" pTextarea fluid="true" formControlName="description"></textarea>
      </div>

      <div class="mb-6">
        <label class="required">*</label><label> {{'label.fundingOpportunity.project' | translate}}</label>
        <p-select
          formControlName="project"
          [options]="allProjects()"
          optionLabel="name"
          placeholder="Select Project"
          fluid="true"
          [virtualScroll]="true"
          [virtualScrollItemSize]="50"/>

          @if( formGroup.get("project")?.invalid && showValidationFailedError() )
          {
            <p-message severity="error" variant="simple">A project must be selected.</p-message>
          }
      </div>

    </div>


    <div class="flex justify-end mt-2">
      <p-button icon="pi pi-save" label="{{'button.save' | translate}}" (click)="_handleOnSaveClick()"/>
    </div>
  </div>

</form>
