<div class="flex flex-wrap items-center mb-4">
    <div class="text-2xl font-semibold">
      {{ 'title.contacts' | translate }}
    </div>
    <p-button
      class="ml-auto"
      icon="pi pi-plus"
      [label]="'button.new' | translate"
      (onClick)="newContact = true"
    />
</div>

<p-table
  [value]="contactData()"
  [loading]="isDataLoading()"
  [scrollable]="true"
  stripedRows="true"
  scrollHeight="flex"
>
  <ng-template #header>
      <tr>
          <th class="w-1/8">{{ 'label.contact.id' | translate }} </th>
          <th class="w-1/8">{{ 'label.contact.salutation' | translate }}</th>
          <th class="w-1/8">{{ 'label.contact.firstName' | translate }}</th>
          <th class="w-1/8">{{ 'label.contact.lastName' | translate }}</th>
          <th class="w-1/8">{{ 'label.contact.email' | translate }}</th>
          <th class="w-1/8">{{ 'label.contact.mobile' | translate }}</th>
          <th class="w-1/8">{{ 'label.contact.actions' | translate }}</th>
      </tr>
  </ng-template>
  <ng-template #body let-contact>
    <tr>
      <td>{{ contact.id }}</td>
      <td>{{ contact.salutation }}</td>
      <td>{{ contact.firstName }}</td>
      <td>{{ contact.lastName }}</td>
      <td>{{ contact.email }} </td>
      <td>{{ contact.mobile }} </td>
      <td>
        <p-button class="mr-2" icon="pi pi-pencil" [outlined]="true" (click)="handleOnOpenRecordDetails(contact)" title="Open Record Details" rounded />
        <p-button class="mr-2" icon="pi pi-trash" [outlined]="true" severity="danger" (click)="handleOnRecordDelete(contact)" title="Delete Record" rounded />
      </td>
    </tr>
  </ng-template>
  <ng-template #emptymessage>
    <tr>
      <td colspan="5">{{ 'message.noRecordsFound' | translate }}</td>
    </tr>
  </ng-template>
</p-table>

@if(newContact) {
  <!-- New Funding Opportunity dialog -->
<p-dialog header="{{ 'title.newContact' | translate }}"
  [modal]="true"
  position="bottom"
  [(visible)]="newContact"
  [styleClass]="'new-contact-dialog'"
  [maximizable]="true"
  (onHide)="newContact = false"
>
  <app-contact-new (onRecordCreationSuccess)="_handleOnRecordCreation($event)" ></app-contact-new>
</p-dialog>
}
