<div class="fixed top-16 sm:m-4 right-0 w-[27rem] bottom-0 z-50
            transition-all duration-300 ease-in-out transform origin-top-right bg-[var(--surface-overlay)] p-4
            sm:border-2 border-blue-50 border-solid sm:rounded-3xl flex flex-col gap-2"
     [ngClass]="{
        'scale-100 opacity-100 translate-x-0': layoutService.layoutState().aiAssistantActive,
        'opacity-0 translate-x-10 pointer-events-none': !layoutService.layoutState().aiAssistantActive
     }">

  <div class="flex items-center w-full gap-2 ">
    <img src="images/AI_visual_64.svg" alt="AI Assistant" class="size-6 mx-2" />
    <span class="text-xl font-light">{{ 'aiAssistant.dialogHeader' | translate }}</span>
    <div class="flex gap-2 ml-auto">
      <p-toggleswitch
        pTooltip="{{ 'aiAssistant.textToSpeech' | translate }}"
          [ngModel]="aiAssistantData.textToSpeech()"
          (ngModelChange)="aiAssistantData.onTextToSpeechToggle($event)">
          <input type="checkbox"
            aria-checked="false"
            data-pc-section="hiddenInput"
            class="p-toggleswitch-input">
      </p-toggleswitch>
      <p-button icon="pi pi-refresh"
        (onClick)="aiAssistantData.clearConversation()"
        [text]="true"
        [rounded]="true"
        pTooltip="{{ 'aiAssistant.newConversation' | translate }}"
        [disabled]="aiAssistantData.chatHistory().length === 0"
        tooltipPosition="left">
      </p-button>
      <p-button
        icon="pi pi-times"
        (onClick)="layoutService.onAIAssistantToggle()"
        [text]="true"
        [rounded]="true">
      </p-button>
    </div>
  </div>

    <div #chatContainer
         class="flex flex-col flex-1 p-4 space-y-4 relative flex-grow overflow-y-auto"
         (dragover)="onDragOver($event)"
         (dragleave)="onDragLeave($event)"
         (drop)="onFileSelect($event)"
         [ngClass]="{'bg-blue-50 border-2 border-dashed border-blue-300': isDragging()}">

      <!-- Loading state -->
      <div *ngIf="aiAssistantData.isLoading()"
           class="absolute inset-0 flex items-center justify-center bg-white bg-opacity-80 z-10 rounded-xl">
        <div class="flex flex-col items-center gap-2">
          <i class="pi pi-spin pi-spinner text-3xl text-blue-600"></i>
        </div>
      </div>

      <!-- Drag and drop overlay -->
      <div *ngIf="isDragging()" class="absolute inset-0 flex items-center justify-center bg-blue-50 bg-opacity-70 z-10 rounded-xl">
        <div class="text-blue-600 flex flex-col items-center">
          <i class="pi pi-upload text-3xl mb-2"></i>
          <span>{{ 'aiAssistant.dropFilesHere' | translate }}</span>
        </div>
      </div>

      <!-- Chat messages -->
      <div *ngFor="let message of aiAssistantData.chatHistory()"
           class="flex flex-col"
           [ngClass]="message.isUser ? 'items-end' : ''">

        <div class="py-3 rounded-2xl rounded-tr-sm break-words animate-fade-in"
             [ngClass]="message.isUser ? 'p-3 bg-blue-50 shadow-sm text-gray-800  max-w-[85%]' : ''">
          <div style="white-space: pre-line;">{{ message.text }}</div>
          <!-- Display files if any -->
          <div *ngIf="message.files && message.files.length > 0;" class="mt-2 border-t border-opacity-20"
               [ngClass]="message.isUser ? 'border-white' : 'border-gray-300'">
            <div *ngFor="let file of message.files" class="mt-1.5 flex items-center gap-1">
              
              <div [ngSwitch]="file.mediaType">
  
                <!-- Audio File -->
                <audio *ngSwitchCase="'audio/mpeg'" controls>
                  <source [src]="file.mediaUrl" type="audio/mpeg">
                  Your browser does not support the audio element.
                </audio>

                <audio *ngSwitchCase="'audio'" controls>
                  <source [src]="file.mediaUrl" type="audio/mpeg">
                  Your browser does not support the audio element.
                </audio>
              
                <!-- Image File -->
                <img *ngSwitchCase="'image'" [src]="file.mediaUrl" alt="Uploaded Image" class="uploaded-image"/>
              
                <!-- Other File Types -->
                <span *ngSwitchDefault>{{ file.name }}</span>
              
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Typing indicator -->
      <div *ngIf="isWaitingResponse()"
           class="flex flex-col items-start">
        <div class="p-3 flex items-center justify-center h-8">
          <img src="images/AI_visual_64.svg"
               alt="AI Assistant"
               class="size-4 animate-scale" />
        </div>
      </div>

      <!-- Empty state -->
      <div *ngIf="aiAssistantData.chatHistory().length === 0" class="text-center text-gray-500 p-5">
        <p class="text-lg font-light">{{ 'aiAssistant.assistPrompt' | translate }}</p>
        <p class="mt-2 text-sm text-blue-500">
          <i class="pi pi-info-circle mr-1"></i>
          {{ 'aiAssistant.dragDropInfo' | translate }}
        </p>
      </div>
  </div>
  <div class="flex-col flex w-full gap-2 mt-2 self-end shrink">
    <div *ngIf="selectedFiles().length > 0" class="mt-2 p-2 bg-gray-50 rounded-xl">
      <div class="text-sm font-medium mb-1 text-gray-700">{{ 'aiAssistant.filesToSend' | translate }}</div>
      <div class="max-h-24 overflow-y-auto">
        <div *ngFor="let fileData of selectedFiles(); let i = index" class="flex items-center gap-2 justify-between py-1 hover:bg-gray-100 rounded rounded-r-3xl px-2">
          <div class="flex items-center gap-2 flex-grow">
            @if (fileData.file.type.startsWith('image/')) {
              <div class="size-8 rounded overflow-hidden flex-shrink-0">
                <img [src]="fileData.file | safeUrl" class="w-full h-full object-cover" alt="thumbnail" />
              </div>
              <span class="truncate max-w-[180px]">{{ fileData.name }}</span>
            } @else if (fileData.file.type.startsWith('audio/')) {
              <audio controls class="h-8 w-full">
                <source [src]="fileData.file | safeUrl" [type]="fileData.file.type">
              </audio>
            } @else {
              <span class="pi pi-file text-blue-500"></span>
              <span class="truncate max-w-[180px]">{{ fileData.name }}</span>
            }

          </div>
          <div class="flex gap-2">
            <p-button
              icon="pi pi-times"
              rounded="true"
              outlined="true"
              (click)="removeFile(i)">
            </p-button>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full flex flex-col gap-2 bg-gray-50 p-2 rounded-xl">
      <textarea
        pTextarea
        [ngModel]="message()"
        (ngModelChange)="message.set($event)"
        placeholder="{{ 'aiAssistant.typeMessage' | translate }}"
        [rows]="1"
        [autoResize]="true"
        class="w-full resize-none border-0 focus:ring-0 focus:outline-none bg-transparent"
        (keydown.enter)="$event.preventDefault(); sendMessage()">
      </textarea>

      <div class="flex justify-between items-center">
        <div class="flex gap-2">
          <p-button
            icon="pi pi-camera"
            (onClick)="startCamera()"
            [text]="true"
            [rounded]="true"
            pTooltip="{{ 'aiAssistant.takePhoto' | translate }}"
            [disabled]="isWaitingResponse()">
          </p-button>
          <input
            #fileInput
            type="file"
            class="hidden"
            (change)="onFileSelect($event)"
            [accept]="'image/*,application/pdf,text/*,audio/*'"
            [multiple]="false">
          <p-button
            icon="pi pi-paperclip"
            (onClick)="fileInput.click()"
            [text]="true"
            [rounded]="true"
            pTooltip="{{ 'aiAssistant.attachFile' | translate }}"
            [disabled]="isProcessingFile()">
          </p-button>
        </div>
        <div class="flex gap-2">
          <div class="flex justify-center items-center relative">
            <p-button
            icon="pi pi-microphone"
            (mousedown)="startRecording()"
            (mouseup)="stopRecording()"
            (mouseleave)="stopRecording()"
            [text]="!isRecording()"
            [rounded]="true"
            [ngClass]="{'recording': isRecording()}"
            pTooltip="{{ 'aiAssistant.recordAudio' | translate }}"
            [disabled]="isWaitingResponse()">
            
          </p-button>
          <div *ngIf="isRecording()" class="voice-activity">
          </div>
          </div>
          
          <p-button
            icon="pi pi-send"
            (onClick)="sendMessage()"
            [text]="true"
            [disabled]="!message().trim() && selectedFiles().length === 0">
          </p-button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-ai-assistant-scan
  #scanComponent
  (onImageCaptured)="onImageCaptured($event)">
</app-ai-assistant-scan>



