<div class="fixed top-16 sm:m-4 right-0 w-[27rem] bottom-0 z-50
            transition-all duration-300 ease-in-out transform origin-top-right bg-[var(--surface-overlay)] p-4
            sm:border-2 border-blue-50 border-solid sm:rounded-3xl flex flex-col gap-2"
     [ngClass]="{
        'scale-100 opacity-100 translate-x-0': layoutService.layoutState().aiAssistantActive,
        'opacity-0 translate-x-10 pointer-events-none': !layoutService.layoutState().aiAssistantActive
     }">

  <div class="flex items-center w-full gap-2 ">
    <img src="images/AI_visual_64.svg" alt="AI Assistant" class="size-6 mx-2" />
    <span class="text-xl font-light">{{ 'aiAssistant.dialogHeader' | translate }}</span>
    <div class="flex gap-2 ml-auto items-center">

      <p-button [icon]="aiAssistantData.textToSpeech() ? 'pi pi-volume-up' : 'pi pi-volume-off'"
        [text]="true"
        [rounded]="true"
        pTooltip="{{ 'aiAssistant.textToSpeech' | translate }}"
        (onClick)="aiAssistantData.onTextToSpeechToggle()"
        tooltipPosition="left">
      </p-button>

      <p-button icon="pi pi-refresh"
        (onClick)="aiAssistantData.clearConversation()"
        [text]="true"
        [rounded]="true"
        pTooltip="{{ 'aiAssistant.newConversation' | translate }}"
        [disabled]="aiAssistantData.chatHistory().length === 0"
        tooltipPosition="left">
      </p-button>
      <p-button
        icon="pi pi-times"
        (onClick)="layoutService.onAIAssistantToggle()"
        [text]="true"
        [rounded]="true">
      </p-button>
    </div>
  </div>

    <div #chatContainer
         class="flex flex-col flex-1 p-4 space-y-4 relative flex-grow overflow-y-auto transition-all duration-300 ease-in-out"
         (dragover)="onDragOver($event)"
         (dragleave)="onDragLeave($event)"
         (drop)="onDrop($event)"
         [ngClass]="{
           'bg-blue-50/10 border-2 border-dashed border-blue-300': isDragging(),
           'bg-transparent': !isDragging()
         }">

      <!-- Loading state -->
      <div *ngIf="aiAssistantData.isLoading()"
           class="absolute inset-0 flex items-center justify-center bg-white/80 backdrop-blur-sm z-10 rounded-xl">
        <div class="flex flex-col items-center gap-2">
          <i class="pi pi-spin pi-spinner text-3xl text-blue-600"></i>
        </div>
      </div>

      <!-- Drag and drop overlay -->
      <div *ngIf="isDragging()"
           class="absolute inset-0 flex items-center justify-center bg-blue-50/70 backdrop-blur-sm z-10 rounded-xl">
        <div class="text-blue-600 flex flex-col items-center gap-4">
          <i class="pi pi-upload text-4xl"></i>
          <span class="text-lg font-medium">{{ 'aiAssistant.dropFilesHere' | translate }}</span>
<!--          <span class="text-sm text-blue-500">{{ 'aiAssistant.supportedFormats' | translate }}</span>-->
        </div>
      </div>

      <!-- Chat messages -->
      <div *ngFor="let message of aiAssistantData.chatHistory()"
           class="flex flex-col"
           [ngClass]="message.isUser ? 'items-end' : ''">

        <div class="py-3 rounded-2xl rounded-tr-sm break-words animate-fade-in"
             [ngClass]="message.isUser ? 'p-3 bg-blue-50 shadow-sm text-gray-800  max-w-[85%]' : ''">
          <div style="white-space: pre-line;">{{ message.text }}</div>
          <!-- Display files if any -->
          <div *ngIf="message.files && message.files.length > 0;" class="mt-2 border-t border-opacity-20"
               [ngClass]="message.isUser ? 'border-white' : 'border-gray-300'">
            <div *ngFor="let file of message.files" class="mt-1.5 flex items-center gap-1">

              <div [ngSwitch]="file.mediaType">

                <!-- Audio File -->
                <div class="flex items-center">
                  @if (file.mediaType === 'audio/mpeg' || file.mediaType === 'audio') {
                    <audio controls class="h-8 w-48">
                      <source [src]="file.mediaUrl" type="audio/mpeg">
                    </audio>
                  } @else if (file.mediaType === 'image') {
                    <img *ngSwitchCase="'image'" [src]="file.mediaUrl" alt="Uploaded Image" class="uploaded-image"/>
                  }
                </div>

                <!-- Other File Types -->
                <span *ngSwitchDefault>{{ file.name }}</span>

              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Typing indicator -->
      <div *ngIf="isWaitingResponse()"
           class="flex flex-col items-start">
        <div class="p-3 flex items-center justify-center h-8">
          <img src="images/AI_visual_64.svg"
               alt="AI Assistant"
               class="size-4 animate-scale" />
        </div>
      </div>

      <!-- Empty state -->
      <div *ngIf="aiAssistantData.chatHistory().length === 0" class="text-center text-gray-500 p-5">
        <p class="text-lg font-light">{{ 'aiAssistant.assistPrompt' | translate }}</p>
        <p class="mt-2 text-sm text-blue-500">
          <i class="pi pi-info-circle mr-1"></i>
          {{ 'aiAssistant.dragDropInfo' | translate }}
        </p>
      </div>
  </div>
  <div class="flex-col flex w-full gap-2 mt-2 self-end shrink">
    <div *ngIf="selectedFiles().length > 0 && !isWaitingResponse()"
         class="mt-2 p-2 bg-gray-50 rounded-xl animate-[slideIn_0.3s_ease-out]">
      <div class="text-sm font-medium mb-2 text-gray-700 flex items-center gap-2">
        <i class="pi pi-paperclip text-blue-500"></i>
        {{ 'aiAssistant.filesToSend' | translate }}
      </div>
      <div class="max-h-24">
        <div *ngFor="let fileData of selectedFiles(); let i = index"
             class="flex items-center gap-2 justify-between py-2 hover:bg-gray-100 rounded-lg px-3 transition-colors duration-200">
          <div class="flex items-center gap-2">
            @if (fileData.file.type.startsWith('image/')) {
              <div class="size-10 rounded-lg overflow-hidden flex-shrink-0 border border-gray-200">
                <img [src]="fileData.file | safeUrl" class="w-full h-full object-cover" alt="thumbnail" />
              </div>
              <span class="truncate max-w-[180px] text-sm">{{ fileData.name }}</span>
            } @else if (fileData.file.type.startsWith('audio/')) {
              <div class="flex items-center max-w-[270px] gap-2">
                <audio controls class="h-8">
                  <source [src]="fileData.file | safeUrl" [type]="fileData.file.type">
                </audio>
              </div>
            } @else {
              <div class="flex items-center gap-2">
                <i class="pi pi-file text-blue-500"></i>
                <span class="truncate max-w-[180px] text-sm">{{ fileData.name }}</span>
              </div>
            }
          </div>
          <div class="flex gap-2">
            <p-button
              icon="pi pi-times"
              rounded="true"
              outlined="true"
              severity="secondary"
              (click)="removeFile(i)">
            </p-button>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full flex flex-col gap-2 bg-gray-50 p-2 rounded-xl">
      <textarea
        pTextarea
        [ngModel]="message()"
        (ngModelChange)="message.set($event)"
        placeholder="{{ 'aiAssistant.typeMessage' | translate }}"
        [rows]="1"
        [autoResize]="true"
        class="w-full resize-none border-0 focus:ring-0 focus:outline-none bg-transparent"
        (keydown.enter)="$event.preventDefault(); sendMessage()">
      </textarea>

      <div class="flex justify-between items-center">
        <div class="flex gap-2">
          <p-button
            icon="pi pi-camera"
            (onClick)="startCamera()"
            [text]="true"
            [rounded]="true"
            pTooltip="{{ 'aiAssistant.takePhoto' | translate }}"
            [disabled]="isWaitingResponse()">
          </p-button>
          <input
            #fileInput
            type="file"
            class="hidden"
            (change)="onFileSelect($event)"
            [accept]="'image/*,application/pdf,text/*,audio/*'"
            [multiple]="false">
          <p-button
            icon="pi pi-paperclip"
            (onClick)="fileInput.click()"
            [text]="true"
            [rounded]="true"
            pTooltip="{{ 'aiAssistant.attachFile' | translate }}"
            [disabled]="isProcessingFile()">
          </p-button>
        </div>
        <div class="flex gap-2">
          <div class="flex justify-center items-center relative">
            <p-button
            icon="pi pi-microphone"
            (mousedown)="startRecording()"
            (mouseup)="stopRecording()"
            (mouseleave)="stopRecording()"
            [text]="!isRecording()"
            [rounded]="true"
            [ngClass]="{'recording': isRecording()}"
            pTooltip="{{ 'aiAssistant.recordAudio' | translate }}"
            [disabled]="isWaitingResponse()">

          </p-button>
          <div *ngIf="isRecording()" class="voice-activity">
          </div>
          </div>

          <p-button
            icon="pi pi-send"
            (onClick)="sendMessage()"
            [text]="true"
            [disabled]="!message().trim() && selectedFiles().length === 0">
          </p-button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-ai-assistant-scan
  #scanComponent
  (onImageCaptured)="onImageCaptured($event)">
</app-ai-assistant-scan>



