li {
    width: 100%;
    padding: 0;
}

li.active-menuitem>a .layout-submenu-toggler {
    transform: rotate(-180deg);
}

a {
    padding: 0.75rem 1rem;
    display: flex;
    align-items: center;
    position: relative;
    color: var(--text-color);
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.2s;
}

a:hover {
    background-color: var(--surface-hover);
}

a.active-menuitem-routerlink {
    font-weight: 700;
    color: var(--primary-color);
}

.layout-submenu-toggler {
    margin-left: auto;
    transition: transform 0.2s;
}

i:not(.layout-submenu-toggler) {
    margin-right: 0.5rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu-item-link {
    @apply flex flex-row items-center justify-start gap-2 border;
}