:host ::ng-deep .grid{
  border: 1px solid #dee2e6;
  height: 96%;
}

:host ::ng-deep .empty-grid{
  border: 1px solid #dee2e6;
}

.place-holder{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.grid-content-wrap{
  word-wrap: break-word !important;
  white-space: normal !important;
}
