.header-section{
  display: flex;
  align-items: center;
  margin-top: 25px;
  margin-left: 15px;
  margin-right: 15px;
}

.icon{
  color: red;
  font-size: var(--unops-font-size-display-medium);
  height: 32px;
  width: 32px;
}

.header{
  font-size: var(--unops-font-size-headline-small);
  font-weight: 500;
  margin-left: 5px;
}

.details-section{
  border: 1px solid #8080804d;
  margin-top: 10px;
  padding: 5px 10px;
  background: #d3d3d340;
}
