<p-confirmDialog></p-confirmDialog>

<div class="flex flex-col gap-8">
  <div class="flex flex-wrap items-center gap-4">
    <div class="flex items-center gap-3 opportunity-section-header">
      <span class="material-symbols-outlined text-3xl">lightbulb</span>
      <p class="text-3xl font-bold">{{ 'title.opportunities' | translate }}</p>
    </div>
    <div class="ml-auto flex gap-2 flex-wrap">
      <p-button
        *ngIf="entityPermissions().permissions.canExport"
        icon="pi pi-file-export"
        [label]="'button.export' | translate"
        (click)="exportData()"
        text rounded
        class="opportunity-export-button"
      />
      <p-button
        *ngIf="entityPermissions().permissions.canCreate"
        icon="pi pi-plus"
        [label]="'button.new' | translate"
        (onClick)="openOpportunityEditDialog()"
        rounded
        class="opportunity-new-button"
      />
    </div>
  </div>

  <app-listview
    #listviewComponent
    [dataUrl]="opportunityService.getUrl()"
    [columns]="opportunityColumns()"
    [entityType]="'Opportunity'"
    [config]="listviewConfig()"
    (rowClick)="onRowClick($event)"
    (searchChange)="onSearchChange($event)"
    class="opportunity-listview"
  >
  </app-listview>
</div>

