<p-confirmDialog></p-confirmDialog>

<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="interaction-modal-form">
  @if( showValidationFailedError() === true ){
  <p-message severity="error" icon="pi pi-info-circle" styleClass="mb-4">Please fill all the required details.</p-message>
  }

  <div class="flex flex-col xl:flex-row gap-8">
    <!-- Main Content Column -->
    <div class="xl:w-2/3">
      <div class="grid grid-cols-12 gap-4">

        <!-- Participants Section -->
        <div class="text-2xl col-span-full">
          {{ 'title.interactionTitles.participants' | translate }}
        </div>

        <div [class]="showPhoneNumbers ? 'col-span-12 md:col-span-6 flex flex-col gap-2' : 'col-span-full flex flex-col gap-2'">
          <label for="emails" class="block">{{ 'label.interaction.emailAddresses' | translate }}</label>
          <p-autocomplete id="emails"
                          formControlName="emailAddresses"
                          [disabled]="!recordPermissions()?.permissions?.canUpdate"
                          multiple
                          fluid
                          [typeahead]="false" />
        </div>

        @if( showPhoneNumbers ){
        <div class="col-span-12 md:col-span-6 flex flex-col gap-2">
          <label for="phones" class="block">{{ 'label.interaction.phoneNumbers' | translate }}</label>
          <p-autocomplete id="phones"
                          formControlName="phoneNumbers"
                          [disabled]="!recordPermissions()?.permissions?.canUpdate"
                          multiple
                          fluid
                          [typeahead]="false" />
        </div>
        }

        <div class="col-span-full flex flex-col gap-2">
          <label for="contacts">{{ 'label.interaction.relatedTo' | translate }}</label>
          <p-multiselect id="contacts"
                         formControlName="contactIds"
                         [options]="allContacts()"
                         [disabled]="!recordPermissions()?.permissions?.canUpdate"
                         optionLabel="name"
                         optionValue="id"
                         display="chip"
                         multiple
                         fluid
                         [maxSelectedLabels]="100000"
                         placeholder="{{ 'label.interaction.selectContacts' | translate }}"
                         ariaLabel="contacts">
            <ng-template let-contact #item>
              <div class="flex items-center gap-2">
                <span>{{ contact.name }}</span>
              </div>
            </ng-template>
          </p-multiselect>
        </div>

        <div class="col-span-full partners-display flex flex-col gap-2">
          <label for="partners">{{ 'label.interaction.partners' | translate }}</label>
          <div class="partners-chips-container">
            @if( getSelectedPartners().length === 0 ) {
            <div class="no-partners-message">{{ 'label.interaction.noPartnersSelected' | translate }}</div>
            } @else {
            <div class="chips-container">
              <span *ngFor="let partner of getSelectedPartners()" class="partner-chip">
                <i class="pi pi-building mr-2"></i>
                {{ partner.name }}
              </span>
            </div>
            }
          </div>
        </div>

        <div class="col-span-full flex flex-col gap-2">
          <label for="users">{{ 'label.interaction.users' | translate }}</label>
          <p-multiselect id="users"
                         formControlName="userIds"
                         [options]="allUsers()"
                         [disabled]="!recordPermissions()?.permissions?.canUpdate"
                         optionLabel="name"
                         optionValue="id"
                         display="chip"
                         fluid="true"
                         [maxSelectedLabels]="100000"
                         placeholder="{{ 'label.interaction.selectUsers' | translate }}"
                         ariaLabel="users">
            <ng-template let-user #item>
              <div class="flex items-center gap-2">
                <span>{{ user.name }}</span>
              </div>
            </ng-template>
          </p-multiselect>
        </div>

        <p-divider class="col-span-full" />

        <!-- Details Section -->
        <div class="text-2xl col-span-full">
          {{ 'title.interactionTitles.details' | translate }}
        </div>

        <div class="col-span-full flex flex-col gap-2">
          <label for="subject">{{ 'label.interaction.subject' | translate }} *</label>
          <input pInputText
                 fluid="true"
                 formControlName="subject"
                 [disabled]="!recordPermissions()?.permissions?.canUpdate"
                 id="subject" />
          @if( formGroup.get("subject")?.invalid && showValidationFailedError() ) {
          <p-message severity="error" variant="simple">Subject must be entered.</p-message>
          }
        </div>

        <div class="col-span-full flex flex-col gap-2">
          <label for="description">{{ 'label.interaction.description' | translate }}</label>
          <p-editor 
            id="description"
            formControlName="description"
            [readonly]="!recordPermissions()?.permissions?.canUpdate"
            [style]="{ height: '300px' }"
            placeholder="Enter interaction description...">
          </p-editor>
        </div>

      </div>
    </div>

    <!-- Sidebar Column -->
    <div class="xl:w-1/3">
      <div class="grid grid-cols-6 gap-4">

        @if(recordPermissions()?.permissions?.canUpdate) {
        <div class="col-span-full text-left">
          <app-ai-transcribe transcribeType="interaction_action"
                             (transcriptionCompleted)="onTranscriptionCompleted($event)">
          </app-ai-transcribe>
        </div>
        }

        <!-- Information Section -->
        <div class="text-2xl col-span-full">
          {{ 'title.interactionTitles.information' | translate }}
        </div>

        <div class="col-span-full flex flex-col gap-2">
          <label for="type">{{ 'label.interaction.type' | translate }}</label>
          <p-select id="type"
                    [options]="typeOptions"
                    [appendTo]="'body'"
                    formControlName="type"
                    [disabled]="!recordPermissions()?.permissions?.canUpdate"
                    [placeholder]="'label.interaction.selectType' | translate"
                    optionLabel="translateKey"
                    optionValue="value"
                    fluid="true">
            <ng-template pTemplate="selectedItem" let-item>
              {{ item.translateKey | translate }}
            </ng-template>
            <ng-template pTemplate="item" let-item>
              {{ item.translateKey | translate }}
            </ng-template>
          </p-select>
        </div>

        <div class="col-span-full flex flex-col gap-2">
          <label for="date">{{ 'label.interaction.date' | translate }}</label>
          <p-calendar id="date"
                      formControlName="date"
                      [disabled]="!recordPermissions()?.permissions?.canUpdate"
                      [showTime]="true"
                      fluid="true"></p-calendar>
        </div>

        <div class="col-span-full flex flex-col gap-2">
          <label for="location">{{ 'label.interaction.location' | translate }}</label>
          <input pInputText
                 fluid="true"
                 formControlName="location"
                 [disabled]="!recordPermissions()?.permissions?.canUpdate"
                 id="location" />
        </div>

        <div class="col-span-full flex flex-col gap-2">
          <label for="organizationUnits">{{ 'label.interaction.organizationUnits' | translate }}</label>
          <p-multiselect id="organizationUnits"
                         formControlName="organizationHierarchyIds"
                         [options]="allOrgUnits()"
                         [disabled]="!recordPermissions()?.permissions?.canUpdate"
                         optionLabel="name"
                         optionValue="id"
                         [filter]="true"
                         filterBy="name"
                         [appendTo]="'body'"
                         [showClear]="true"
                         display="chip"
                         placeholder="{{ 'label.interaction.selectOrganizationUnits' | translate }}"
                         fluid="true"
                         [selectedItemsLabel]="getSelectedActiveOrgUnitsLabel()">
          </p-multiselect>
        </div>

        <div class="col-span-full flex flex-col gap-2">
          <label for="createdBy">{{ 'label.interaction.createdBy' | translate }}</label>
          <p-select id="createdBy"
                    formControlName="createdBy"
                    [options]="allUsers()"
                    [disabled]="!recordPermissions()?.permissions?.canUpdate"
                    optionLabel="name"
                    optionValue="id"
                    [filter]="true"
                    filterBy="name"
                    [appendTo]="'body'"
                    [showClear]="true"
                    placeholder="{{ 'label.interaction.selectCreatedBy' | translate }}"
                    fluid="true">
          </p-select>
        </div>

        @if( recordId && !isImportEdit ) {
        <p-divider class="col-span-full" />

        <!-- Documents Section -->
        <div class="text-2xl col-span-full">
          {{ 'title.doc' | translate }}
        </div>

        <div class="col-span-full">
          <div class="documents-container">
            <app-document #appDocument
                          [entityId]="recordId"
                          [entityName]="'interaction'"
                          [disabled]="!recordPermissions()?.permissions?.canUpdate"
                          [acceptedFormat]="'.pdf, .xls, .xlsx, .doc, .docx'">
              <div ngProjectAs="document-toolbar">
                <app-document-gdrive [entityId]="recordId"
                                     [entityName]="'interaction'"
                                     [appDocumentRef]="appDocument"
                                     [disabled]="!recordPermissions()?.permissions?.canUpdate"
                                     [acceptedMIMETypes]="acceptedMiMIETypesForgDrive"></app-document-gdrive>
              </div>
            </app-document>
          </div>
        </div>
        }

      </div>
    </div>
  </div>
</form>
