<p-confirmDialog></p-confirmDialog>
<p-dialog
  [(visible)]="display"
  [modal]="true"
  [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '95vw'}"
  [contentStyle]="{'overflow': 'visible', 'max-height': 'none'}"
  [header]="(record?.id ? 'title.editInteraction' : 'title.newInteraction') | translate"
  (onHide)="hide()">

  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
    <div class="flex flex-col md:flex-row gap-4">
      <div class="flex flex-col gap-2 w-full">
        <label for="type">{{ 'label.interaction.type' | translate }}</label>
        <p-select
          id="type"
          [options]="typeOptions"
          [appendTo]="'body'"
          formControlName="type"
          [placeholder]="'label.interaction.selectType' | translate"
          optionLabel="translateKey"
          optionValue="value"
          class="w-full"
        >
          <ng-template pTemplate="selectedItem" let-item>
            {{ item.translateKey | translate }}
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.translateKey | translate }}
          </ng-template>
        </p-select>
      </div>

      <div class="flex flex-col gap-2">
        <label for="date">{{ 'label.interaction.date' | translate }}</label>
        <p-calendar id="date" formControlName="date" [showTime]="true" class="w-full"></p-calendar>
      </div>
    </div>

    <div class="flex flex-col gap-2">
      <label for="data">{{ 'label.interaction.notes' | translate }}</label>
      <textarea id="data" pTextarea formControlName="data" class="w-full" rows="6" [autoResize]="true"></textarea>
    </div>

    <div class="flex flex-col gap-2">
      <label for="contact">{{ 'label.interaction.contact' | translate }}</label>
      <p-select
        id="contact"
        formControlName="contactId"
        [options]="safeContacts"
        [virtualScroll]="true"
        [virtualScrollItemSize]="38"
        [dataKey]="'id'"
        optionValue="id"
        [optionLabel]="getContactDisplayName"
        [filter]="true"
        filterBy="firstName,lastName,email"
        [showClear]="true"
        [appendTo]="'body'"
        placeholder="{{ 'label.interaction.selectContact' | translate }}"
        class="w-full">
        <ng-template pTemplate="selectedItem" let-contact>
          <span *ngIf="contact">{{ getContactDisplayName(contact) }}</span>
        </ng-template>
        <ng-template pTemplate="item" let-contact>
          <div>
            <div>{{ getContactDisplayName(contact) }}</div>
            <small *ngIf="contact.email" class="text-gray-500">{{ contact.email || contact.Email }}</small>
          </div>
        </ng-template>
      </p-select>
    </div>


  </form>

  <ng-template pTemplate="footer">
    <div class="flex justify-end flex-wrap w-full gap-4">
      <p-button
        *ngIf="formGroup.get('id')?.value"
        type="button"
        [label]="'button.delete' | translate"
        class="p-button-text mr-auto"
        variant="outlined"
        severity="danger"
        (click)="deleteInteraction()"
      ></p-button>
      <p-button class="ml-auto" [label]="'button.cancel' | translate" severity="secondary" (click)="hide()"></p-button>
      <p-button (onClick)="onSubmit()" [loading]="isSaving()" icon="pi pi-check" [label]="'button.save' | translate" [disabled]="!formGroup.valid"></p-button>
    </div>
  </ng-template>
</p-dialog>
