<p-blockui [blocked]="partnerService.isLoading()" />

@if( showValidationFailedError() === true ){
  <p-message severity="error" icon="pi pi-info-circle" styleClass="mt-2 mb-3">Please fill all the required details.</p-message>
}

<form class="w-full h-full content-container" [formGroup]="formGroup">
      <p-panel
        header="{{ 'title.partnerTitles.partnerInformation' | translate }}"
        [toggleable]="true"
        [styleClass]="'section'"
      >
      <div class="flex flex-row justify-between">
        <div class="mb-6 pr-4">
          <label class="required">*</label><label>{{ "label.partner.name" | translate }}</label>
          <input pInputText fluid="true" formControlName="name" />
          @if( formGroup.get("name")?.invalid && showValidationFailedError() )
          {
            <p-message severity="error" variant="simple">Name must be entered.</p-message>
          }
        </div>

        <div class="mb-6 pr-4">
          <label class="required">*</label><label>{{ "label.partner.shortName" | translate }}</label>
          <input pInputText fluid="true" formControlName="shortName" />
          @if( formGroup.get("shortName")?.invalid && showValidationFailedError() )
          {
          <p-message severity="error" variant="simple">Short Name must be entered.</p-message>
          }
        </div>

        <div class="mb-6 pr-4">
          <label class="required">*</label><label>{{ "label.partner.status" | translate }}</label>
          <p-select
            formControlName="status"
            [options]="allStatusData()"
            optionLabel="name"
            optionValue="id"
            fluid="true"
            [showClear]="true"
            placeholder="Select a Status"
          />
          @if( formGroup.get("status")?.invalid && showValidationFailedError() )
          {
            <p-message severity="error" variant="simple">Status must be entered.</p-message>
          }
        </div>

        <div class="mb-6 pr-4">
          <label class="required">*</label><label>{{ "label.partner.newEngagement" | translate }}</label>
          <input pInputText fluid="true" formControlName="newEngagement" />
          @if( formGroup.get("newEngagement")?.invalid && showValidationFailedError() )
          {
          <p-message severity="error" variant="simple">New Engagement must be entered.</p-message>
          }
        </div>
      </div>

      <div class="flex flex-row justify-between">
        <div class="mb-6 pr-4">
          <label>{{ "label.partner.phone" | translate }}</label>
          <input pInputText fluid="true" formControlName="phone" />
        </div>

        <div class="mb-6 pr-4">
          <label>{{ "label.partner.website" | translate }}</label>
          <input pInputText fluid="true" formControlName="website" />
        </div>

        <div class="mb-6 pr-4">
          <label>{{ "label.partner.internalReportingLevel" | translate }}</label>
          <input pInputText fluid="true" formControlName="internalReportingLevel" />
        </div>

        <div class="mb-6 pr-4">
          <label>{{ "label.partner.externalReportingLevel" | translate }}</label>
          <input pInputText fluid="true" formControlName="externalReportingLevel" />
        </div>
      </div>
      <p-divider />

      <div class="flex flex-row justify-between">
        <div class="mb-6 pr-4">
          <label class="required">*</label><label>{{ "label.partner.pooledFund" | translate }}</label>
          <input pInputText fluid="true" formControlName="pooledFund" />
          @if( formGroup.get("pooledFund")?.invalid && showValidationFailedError() )
          {
          <p-message severity="error" variant="simple">Pooled Fund must be entered.</p-message>
          }
        </div>

        <div class="mb-6 pr-4">
          <label class="required">*</label><label>{{ "label.partner.dDRequired" | translate }}</label>
          <input pInputText fluid="true" formControlName="dDRequired" />
          @if( formGroup.get("dDRequired")?.invalid && showValidationFailedError() )
          {
          <p-message severity="error" variant="simple">DD Required must be entered.</p-message>
          }
        </div>

        <div class="mb-6 pr-4">
          <label class="required">*</label><label>{{ "label.partner.dDEACDone" | translate }}</label>
          <input pInputText fluid="true" formControlName="dDEACDone" />
          @if( formGroup.get("dDEACDone")?.invalid && showValidationFailedError() )
          {
          <p-message severity="error" variant="simple">DD/EAC Done must be entered.</p-message>
          }
        </div>

        <div class="mb-6 pr-2">
          <label>{{ "label.partner.eACReference" | translate }}</label>
          <input pInputText fluid="true" formControlName="eACReference" />
        </div>
      </div>

      <div class="flex flex-row justify-between">
          <div class="mb-6 pr-4">
            <label class="required">*</label><label>{{ "label.partner.levyPotentiallyApplies" | translate }}</label>
            <input pInputText fluid="true" formControlName="levyPotentiallyApplies" />
            @if( formGroup.get("levyPotentiallyApplies")?.invalid && showValidationFailedError() )
            {
            <p-message severity="error" variant="simple">Levy Potentially Applies must be entered.</p-message>
            }
          </div>

          <div class="mb-6 pr-2">
            <label>{{ "label.partner.reasonForLevyNotApplying" | translate }}</label>
            <input pInputText fluid="true" formControlName="reasonForLevyNotApplying" />
          </div>

          <div class="mb-6 pr-2">
            <label>{{ "label.partner.levyTreatment" | translate }}</label>
            <input pInputText fluid="true" formControlName="levyTreatment" />
          </div>

          <div class="mb-6 pr-4">
            <label class="required">*</label><label>{{ "label.partner.scope" | translate }}</label>
            <input pInputText fluid="true" formControlName="scope" />
            @if( formGroup.get("scope")?.invalid && showValidationFailedError() )
            {
            <p-message severity="error" variant="simple">Scope must be entered.</p-message>
            }
          </div>
      </div>
      <div class="flex flex-row">
        <div class="mb-6 pr-2">
          <!--<label>{{ "label.partner.globalKeyAccount" | translate }}</label>-->
          <!--<p-checkbox formControlName="globalKeyAccount" />-->
          <p-checkbox [binary]="true"
                      formControlName="globalKeyAccount"
                      inputId="gka" />
          <label for="gka" class="ml-2">{{ "label.partner.globalKeyAccount" | translate }}</label>
        </div>

        <div class="mb-6 pr-2">
          <!--<label>{{ "label.partner.uNSecretariatEntity" | translate }}</label>-->
          <!--<p-checkbox formControlName="uNSecretariatEntity" />-->
          <p-checkbox [binary]="true"
                      formControlName="uNSecretariatEntity"
                      inputId="unse" />
          <label for="unse" class="ml-2">{{ "label.partner.uNSecretariatEntity" | translate }}</label>
        </div>
      </div>
    </p-panel>
    <p-panel
      header="{{ 'title.partnerTitles.addressInformation' | translate }}"
      [toggleable]="true"
      [styleClass]="'section'">
      <div class="flex flex-row">
          <div class="mb-12 pr-2 w-1/2">
              <p-card header="{{ 'title.partnerTitles.address1' | translate }}">
                <div class="pb-2">
                  <label>{{ "label.partner.address1Street" | translate }}</label>
                  <input pInputText fluid="true" formControlName="address1Street" />
                </div>
                <div class="pb-2">
                  <label>{{ "label.partner.address1Street2" | translate }}</label>
                  <input pInputText fluid="true" formControlName="address1Street2" />
                </div>
                <div class="pb-2">
                  <label>{{ "label.partner.address1City" | translate }}</label>
                  <input pInputText fluid="true" formControlName="address1City" />
                </div>
                <div class="pb-2">
                  <label>{{ "label.partner.address1StateProvince" | translate }}</label>
                  <input pInputText fluid="true" formControlName="address1StateProvince" />
                </div>
                <div class="pb-2">
                  <label>{{ "label.partner.address1PostalCode" | translate }}</label>
                  <input pInputText fluid="true" formControlName="address1PostalCode" />
                </div> 
                <div class="pb-2">
                  <label>{{ "label.partner.address1Country" | translate }}</label>
                  <input pInputText fluid="true" formControlName="address1Country" />
                </div>  
              </p-card>
          </div>
          <div class="mb-12 pr-2 w-1/2">
            <p-card header="{{ 'title.partnerTitles.address2' | translate }}">
              <div class="pb-2">
                <label>{{ "label.partner.address2Street" | translate }}</label>
                <input pInputText fluid="true" formControlName="address2Street" />
              </div>
              <div class="pb-2">
                <label>{{ "label.partner.address2Street2" | translate }}</label>
                <input pInputText fluid="true" formControlName="address2Street2" />
              </div>
              <div class="pb-2">
                <label>{{ "label.partner.address2City" | translate }}</label>
                <input pInputText fluid="true" formControlName="address2City" />
              </div>
              <div class="pb-2">
                <label>{{ "label.partner.address2StateProvince" | translate }}</label>
                <input pInputText fluid="true" formControlName="address2StateProvince" />
              </div>
              <div class="pb-2">
                <label>{{ "label.partner.address2PostalCode" | translate }}</label>
                <input pInputText fluid="true" formControlName="address2PostalCode" />
              </div> 
              <div class="pb-2">
                <label>{{ "label.partner.address2Country" | translate }}</label>
                <input pInputText fluid="true" formControlName="address2Country" />
              </div>  
            </p-card>
          </div>
      </div>
    </p-panel>
    <div class="flex justify-end mt-2">
      <p-button icon="pi pi-save" label="{{'button.save' | translate}}" (click)="_handleOnSaveClick()"/>
    </div>
</form>
