<div class="flex flex-col gap-8">
  <div class="flex flex-wrap items-center">
    <div class="text-2xl font-semibold">
      {{ 'title.contacts' | translate }}
    </div>
    <div class="ml-auto flex gap-2">
      <p-button
        icon="pi pi-camera"
        [label]="'title.scanBusinessCard' | translate"
        (onClick)="openBusinessCardScanner()"
      />
      <p-button
        icon="pi pi-plus"
        [label]="'button.new' | translate"
        (onClick)="openContactEditDialog()"
      />
    </div>
  </div>

  <app-listview
    [dataUrl]="contactService.getUrl()"
    [columns]="contactColumns"
    [config]="listviewConfig"
    (rowDblClick)="onRowDoubleClicked($event)"
  >
    <ng-template #actionsTemplate let-contact>
      <div class="flex gap-2">
        <p-button
          icon="pi pi-file-edit"
          [outlined]="true"
          (click)="handleOnOpenRecordDetails(contact)"
          title="Open Record Details"
          rounded
        />
        <p-button
          icon="pi pi-trash"
          [outlined]="true"
          severity="danger"
          (click)="handleOnRecordDelete(contact)"
          title="Delete Record"
          rounded
        />
      </div>
    </ng-template>
  </app-listview>
</div>
