<p-confirmDialog></p-confirmDialog>

<div class="flex flex-col gap-8">
  <div class="flex flex-wrap items-center gap-4">
    <div class="text-2xl font-semibold">
      {{ 'title.contacts' | translate }}
    </div>
    <div class="ml-auto flex gap-2 flex-wrap">
      <p-button
        icon="pi pi-file-import"
        [label]="'button.import' | translate"
        (click)="openImportDialog()"
        severity="secondary"
      />
      <p-button
        icon="pi pi-camera"
        [label]="'title.scanBusinessCard' | translate"
        (onClick)="openBusinessCardScanner()"
      />
      <p-button
        icon="pi pi-plus"
        [label]="'button.new' | translate"
        (onClick)="openContactEditDialog()"
      />
    </div>
  </div>

  <app-listview
    [dataUrl]="contactService.getUrl()"
    [columns]="contactColumns"
    [config]="listviewConfig"
    (rowClick)="onRowClick($event)"
    (searchChange)="onSearchChange($event)"
  >
  </app-listview>
</div>
