GOOGLE_GENAI_USE_VERTEXAI=TRUE
GOOGLE_CLOUD_PROJECT=unops-partneropportunity
GOOGLE_CLOUD_LOCATION=europe-west4
DATABASE_URL=postgresql://postgres:<password>@localhost:5433/<dbname>
SERVE_WEB_INTERFACE=TRUE
API_BASE_URL=https://localhost:44426/
IS_DEVELOPMENT=TRUE
DEV_EMAIL=xyz@unops.org