GOOGLE_GENAI_USE_VERTEXAI=TRUE
GOOGLE_CLOUD_PROJECT=project_id
GOOGLE_CLOUD_LOCATION=location_id
DATABASE_URL=postgresql://postgres:<password>@localhost:5433/<dbname>
SERVE_WEB_INTERFACE=TRUE
API_BASE_URL=https://localhost:44426/ <your endpoint base url>
IS_DEVELOPMENT=TRUE
DEV_EMAIL=<emailID>