flask==3.0.2
google-cloud-aiplatform>=1.38.0
vertexai>=0.0.1
python-dotenv==1.0.0
SQLAlchemy==2.0.28
psycopg2-binary==2.9.9
Flask-SQLAlchemy==3.1.1

# Google Cloud dependencies
google-cloud-texttospeech==2.14.1
google-cloud-storage==2.14.0
google-cloud-vision==3.7.0
google-cloud-speech==2.32.0
google-cloud-secret-manager==2.18.0
google-auth==2.28.1
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0

# Additional dependencies
requests==2.31.0
python-jose==3.3.0 