<p-toast></p-toast>
<p-dialog [(visible)]="visible" [header]="dialogConfig?.summary || 'Error'"
    [closable]="dialogConfig?.closable !== false"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
    [style]="{ width: '30vw' }"
    (onHide)="onDialogClose()">
    <p>{{ dialogConfig?.detail }}</p>
    @if (dialogConfig?.showRefreshButton) {
        <div class="flex justify-end mt-4">
            <p-button
                [label]="'action.refreshPage' | translate"
                icon="pi pi-refresh"
                severity="primary"
                (onClick)="refreshPage()">
            </p-button>
        </div>
    }
</p-dialog>