<p-blockui [blocked]="contactService.isLoading()" />

@if( showValidationFailedError() === true ){
  <p-message severity="error" icon="pi pi-info-circle" styleClass="mt-2 mb-3">Please fill all the required details.</p-message>
}



<form [formGroup]="formGroup" class="flex flex-col gap-8">
  <p-panel
  header="{{ 'title.links' | translate }}"
  [toggleable]="true"
  >
  <app-link-list
    [entityType]="entityTypeContact"
    [entityId]="+recordId"
    [title]="' '"
  />
  </p-panel>

      <p-panel
        header="{{ 'title.contactTitles.contactInformation' | translate }}"
        [toggleable]="true"
        [styleClass]="'section'"
      >
      <div class="grid grid-cols-6 gap-4">
        <div class="col-span-6 sm:col-span-2 xl:col-span-1 flex flex-col gap-2">
            <label>{{ "label.contact.id" | translate }}</label>
            <input pInputText fluid="true" formControlName="id" readonly/>
        </div>
        <div class="col-span-6 sm:col-span-2 xl:col-span-1 flex flex-col gap-2">
          <label>{{ "label.contact.salutation" | translate }}</label>
          <p-select
            formControlName="salutation"
            [options]="allSalutationsData()"
            optionLabel="name"
            optionValue="id"
            fluid="true"
            [showClear]="true"
            placeholder="Select a Salutation"
          />
        </div>

        <div class="col-span-6 sm:col-span-2 xl:col-span-1 flex flex-col gap-2">
          <label>{{ "label.contact.firstName" | translate }}</label>
          <input pInputText fluid="true" formControlName="firstName" />
        </div>

        <div class="col-span-6 sm:col-span-2 xl:col-span-1 flex flex-col gap-2">
          <label>{{ "label.contact.middleName" | translate }}</label>
          <input pInputText fluid="true" formControlName="middleName" />
        </div>

        <div class="col-span-6 sm:col-span-2 xl:col-span-1 flex flex-col gap-2">
          <label>{{ "label.contact.lastName" | translate }}&nbsp;*</label>
          <input pInputText fluid="true" formControlName="lastName" />
          @if( formGroup.get("lastName")?.invalid && showValidationFailedError() )
          {
            <p-message severity="error" variant="simple">Last Name must be entered.</p-message>
          }
        </div>

        <div class="col-span-6 sm:col-span-2 xl:col-span-1 flex flex-col gap-2">
          <label>{{ "label.contact.suffix" | translate }}</label>
          <input pInputText fluid="true" formControlName="suffix" />
        </div>

        <div class="col-span-6 sm:col-span-2 xl:col-span-1 flex flex-col gap-2">
          <label>{{ "label.contact.email" | translate }}&nbsp;*</label>
          <input pInputText fluid="true" formControlName="email" />
          @if( formGroup.get("email")?.invalid && showValidationFailedError() )
          {
            <p-message severity="error" variant="simple">Email must be entered.</p-message>
          }
        </div>

        <div class="col-span-6 sm:col-span-2 xl:col-span-1 flex flex-col gap-2">
          <label>{{ "label.contact.phone" | translate }}</label>
          <input pInputText fluid="true" formControlName="phone" />
        </div>

        <div class="col-span-6 sm:col-span-2 xl:col-span-1 flex flex-col gap-2">
          <label>{{ "label.contact.mobile" | translate }}</label>
          <input pInputText fluid="true" formControlName="mobile" />
        </div>

        <div class="col-span-6 sm:col-span-2 xl:col-span-1 flex flex-col gap-2">
          <label>{{ "label.contact.otherPhone" | translate }}</label>
          <input pInputText fluid="true" formControlName="otherPhone" />
        </div>

        <div class="col-span-6 sm:col-span-2 xl:col-span-1 flex flex-col gap-2">
          <label>{{ "label.contact.status" | translate }}&nbsp;*</label>
          <p-select
            formControlName="status"
            [options]="allStatusData()"
            optionLabel="name"
            optionValue="id"
            fluid="true"
            [showClear]="true"
            placeholder="Select a Status"
          />
          @if( formGroup.get("status")?.invalid && showValidationFailedError() )
          {
            <p-message severity="error" variant="simple">Status must be entered.</p-message>
          }
        </div>

        <div class="col-span-6 sm:col-span-2 xl:col-span-1 flex flex-col gap-2">
          <label for="partner">{{ 'label.partner.partner' | translate }}&nbsp;*</label>
          <p-select formControlName="partner" [options]="allPartners()" optionLabel="name"
                    [appendTo]="'body'"
                    fluid="true" id="partner" ariaLabel="Select Partner" placeholder="Select Partner" />
        </div>

        <p-divider class="col-span-full" />

        <div class="col-span-6 sm:col-span-2 xl:col-span-1 flex flex-col gap-2">
          <label>{{ "label.contact.assistant" | translate }}</label>
          <input pInputText fluid="true" formControlName="assistant" />
        </div>

        <div class="col-span-6 sm:col-span-2 xl:col-span-1 flex flex-col gap-2">
          <label>{{ "label.contact.assistantPhone" | translate }}</label>
          <input pInputText fluid="true" formControlName="assistantPhone" />
        </div>

        <div class="col-span-6 sm:col-span-2 xl:col-span-1 flex flex-col gap-2">
          <label>{{ "label.contact.assistantEmail" | translate }}</label>
          <input pInputText fluid="true" formControlName="assistantEmail" />
        </div>

        <p-divider class="col-span-full" />

        <div class="col-span-6 sm:col-span-2 xl:col-span-1 flex flex-col gap-2">
          <label>{{ "label.contact.title" | translate }}</label>
          <input pInputText fluid="true" formControlName="title" />
        </div>

        <div class="col-span-6 sm:col-span-2 xl:col-span-1 flex flex-col gap-2">
          <label>{{ "label.contact.pronouns" | translate }}</label>
          <p-select
            formControlName="pronouns"
            [options]="allPronounsData()"
            optionLabel="name"
            optionValue="id"
            fluid="true"
            [appendTo]="'body'"
            [showClear]="true"
            placeholder="Select a Pronoun"
          />
        </div>

        <div class="col-span-6 sm:col-span-2 xl:col-span-1 flex flex-col gap-2">
          <label>{{ "label.contact.department" | translate }}</label>
          <input pInputText fluid="true" formControlName="department" />
        </div>

        <div class="col-span-6 sm:col-span-2 xl:col-span-1 flex flex-col gap-2">
          <label>{{ "label.contact.birthDate" | translate }}</label>
          <p-datepicker formControlName="birthDate" [maxDate]="maxDate" [fluid]="true"/>
        </div>

        <div class="col-span-6 sm:col-span-2 xl:col-span-1 flex flex-col gap-2">
          <label>{{ "label.contact.fax" | translate }}</label>
          <input pInputText fluid="true" formControlName="fax" />
        </div>

        <div class="col-span-6 sm:col-span-2 xl:col-span-1 flex flex-col gap-2">
          <label>{{ "label.contact.description" | translate }}</label>
          <input pInputText fluid="true" formControlName="description" />
        </div>

      </div>
    </p-panel>
    <p-panel
      header="{{ 'title.contactTitles.addresses' | translate }}"
      [toggleable]="true">
      <div class="flex flex-col md:flex-row gap-8">
        <div class="flex flex-col gap-4 w-full">
          <div class="text-2xl font-semibold">
            {{ "label.contact.mailingAddress" | translate }}
          </div>

          <div class="flex flex-col gap-2">
            <label>{{ "label.contact.mailingStreet" | translate }}</label>
            <input pInputText fluid="true" formControlName="mailingStreet" />
          </div>
          <div class="flex flex-col gap-2">
            <label>{{ "label.contact.mailingStreet2" | translate }}</label>
            <input pInputText fluid="true" formControlName="mailingStreet2" />
          </div>
          <div class="flex flex-col gap-2">
            <label>{{ "label.contact.mailingCity" | translate }}</label>
            <input pInputText fluid="true" formControlName="mailingCity" />
          </div>
          <div class="flex flex-col gap-2">
            <label>{{ "label.contact.mailingStateProvince" | translate }}</label>
            <input pInputText fluid="true" formControlName="mailingStateProvince" />
          </div>
          <div class="flex flex-col gap-2">
            <label>{{ "label.contact.mailingCountry" | translate }}</label>
            <input pInputText fluid="true" formControlName="mailingCountry" />
          </div>
        </div>
        <div class="flex flex-col gap-4 w-full">
          <div class="text-2xl font-semibold">
            {{ "label.contact.mailingAddress" | translate }} 2
          </div>
          <div class="flex flex-col gap-2">
            <label>{{ "label.contact.mailingStreet" | translate }}</label>
            <input pInputText fluid="true" formControlName="mailingStreet" />
          </div>
          <div class="flex flex-col gap-2">
            <label>{{ "label.contact.mailingStreet2" | translate }}</label>
            <input pInputText fluid="true" formControlName="mailingStreet2" />
          </div>
          <div class="flex flex-col gap-2">
            <label>{{ "label.contact.mailingCity" | translate }}</label>
            <input pInputText fluid="true" formControlName="mailingCity" />
          </div>
          <div class="flex flex-col gap-2">
            <label>{{ "label.contact.mailingStateProvince" | translate }}</label>
            <input pInputText fluid="true" formControlName="mailingStateProvince" />
          </div>
          <div class="flex flex-col gap-2">
            <label>{{ "label.contact.mailingCountry" | translate }}</label>
            <input pInputText fluid="true" formControlName="mailingCountry" />
          </div>
        </div>
      </div>
    </p-panel>

    <div class="flex justify-end gap-2">
        <p-button label="{{'button.cancel' | translate}}" icon="pi pi-times" [styleClass]="'cancel-button p-button-text'"
        rounded
          (onClick)="handleOnCancelClick($event)" />
        <p-button         rounded label="{{'button.save' | translate}}" icon="pi pi-check" severity="primary" [styleClass]="'save-button'" (onClick)="handleOnSaveClick($event)" />
    </div>
</form>
